@using Okapia.Domain.SeachModels
@model Okapia.Domain.SeachModels.JobSearchModel
<hr/>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-border panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">جستجو در مشاغل</h2>
      </div>
      <div class="panel-body">
        <form asp-action="Index" asp-controller="Job" method="GET">
          <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          <div class="col-md-4">
            <div class="form-group">
              <label asp-for="JobName" class="control-label"></label>
              <input asp-for="JobName" class="form-control"/>
              <span asp-validation-for="JobName" class="text-danger"></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label asp-for="JobContactTitile" class="control-label"></label>
              <input asp-for="JobContactTitile" class="form-control"/>
              <span asp-validation-for="JobContactTitile" class="text-danger"></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label asp-for="JobManagerFirstName" class="control-label"></label>
              <input asp-for="JobManagerFirstName" class="form-control"/>
              <span asp-validation-for="JobManagerFirstName" class="text-danger"></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label asp-for="JobManagerLastName" class="control-label"></label>
              <input asp-for="JobManagerLastName" class="form-control"/>
              <span asp-validation-for="JobManagerLastName" class="text-danger"></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label asp-for="JobTel" class="control-label"></label>
              <input asp-for="JobTel" class="form-control"/>
              <span asp-validation-for="JobTel" class="text-danger"></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label asp-for="JobMobile" class="control-label"></label>
              <input asp-for="JobMobile" class="form-control"/>
              <span asp-validation-for="JobMobile" class="text-danger"></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label asp-for="JobCategoryId" class="control-label"></label>
              <select asp-for="JobCategoryId" asp-items="@Model.Categories" class="form-control">
                <option value="0">گروه مربوط به شغل را انتخاب کنید</option>
              </select>
              <span asp-validation-for="JobCategoryId" class="text-danger"></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label asp-for="JobProvienceId" class="control-label"></label>
              @*<input asp-for="JobProvienceId" class="form-control" />*@
              <select asp-for="JobProvienceId" asp-items="@Model.Proviences" class="form-control" id="provinceDropDown" onchange="getCityList('provinceDropDown', '@Url.Action("GetCitiesByProvince", "City")', 'cityDropDown')"></select>
              <span asp-validation-for="JobProvienceId" class="text-danger"></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label asp-for="JobCityId" class="control-label"></label>
              <select asp-for="JobCityId" class="form-control" id="cityDropDown" onchange="getDistrictList('cityDropDown', '@Url.Action("GetDistrictsByCity", "District")', 'districtDropDown')">
                <option value="0">شهر مورد نظر را انتخاب کنید</option>
              </select>
              <span asp-validation-for="JobCityId" class="text-danger"></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label asp-for="JobDistrictId" class="control-label"></label>
              <select asp-for="JobDistrictId" class="form-control" id="districtDropDown" onchange="getNeighborhoodList('districtDropDown', '@Url.Action("GetNeighborhoodsByDistrict", "Neighborhood")', 'neighborhoodDropDown')">
                <option value="0">منطقه مورد نظر را انتخاب کنید</option>
              </select>
              <span asp-validation-for="JobDistrictId" class="text-danger"></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label asp-for="JobNeighborhoodId" class="control-label"></label>
              <select asp-for="JobNeighborhoodId" class="form-control" id="neighborhoodDropDown">
                <option value="0">محله مورد نظر را انتخاب کنید</option>
              </select>
              <span asp-validation-for="JobNeighborhoodId" class="text-danger"></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label asp-for="IsDeleted" class="control-label"></label>
              <input asp-for="IsDeleted" class="form-control">
              <span asp-validation-for="IsDeleted" class="text-danger"></span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <input type="submit" value="جستجو" class="btn btn-primary"/>
              <a asp-area="Administrator" asp-controller="Job" asp-action="Index" class="btn btn-warning">به روزرسانی/پاکسازی فرم جستجو</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>