@using Microsoft.AspNetCore.Http.Extensions
@model Okapia.Domain.Commands.Job.EditJob

@{
  ViewData["Title"] = "Create";
}

<h1>فرم ایجاد شغل جدید</h1>
<h4>برای ثبت فرم جدید فرم زیر را کامل کنید</h4>

<hr/>
<div class="row">
<div class="col-md-12">
<form asp-area="Administrator" asp-controller="Job" asp-action="Edit" asp-route-id="@Model.JobId" asp-route-redirectUrl="@ViewData["redirectUrl"]">
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="JobName" class="control-label"></label>
    <input asp-for="JobName" class="form-control" onchange="string_to_slug(document.getElementById('JobName').value)"/>
    <span asp-validation-for="JobName" class="text-danger"></span>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="JobSmallDescription" class="control-label"></label>
    <input asp-for="JobSmallDescription" class="form-control"/>
    <span asp-validation-for="JobSmallDescription" class="text-danger"></span>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="JobDescription" class="control-label"></label>
    <input asp-for="JobDescription" class="form-control"/>
    <span asp-validation-for="JobDescription" class="text-danger"></span>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="JobContactTitile" class="control-label"></label>
    <input asp-for="JobContactTitile" class="form-control"/>
    <span asp-validation-for="JobContactTitile" class="text-danger"></span>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="JobManagerFirstName" class="control-label"></label>
    <input asp-for="JobManagerFirstName" class="form-control"/>
    <span asp-validation-for="JobManagerFirstName" class="text-danger"></span>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="JobManagerLastName" class="control-label"></label>
    <input asp-for="JobManagerLastName" class="form-control"/>
    <span asp-validation-for="JobManagerLastName" class="text-danger"></span>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="JobEmailAddress" class="control-label"></label>
    <input asp-for="JobEmailAddress" class="form-control"/>
    <span asp-validation-for="JobEmailAddress" class="text-danger"></span>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="JobTel1" class="control-label"></label>
    <input asp-for="JobTel1" class="form-control"/>
    <span asp-validation-for="JobTel1" class="text-danger"></span>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="JobTel2" class="control-label"></label>
    <input asp-for="JobTel2" class="form-control"/>
    <span asp-validation-for="JobTel2" class="text-danger"></span>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="JobMobile1" class="control-label"></label>
    <input asp-for="JobMobile1" class="form-control"/>
    <span asp-validation-for="JobMobile1" class="text-danger"></span>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="JobMobile2" class="control-label"></label>
    <input asp-for="JobMobile2" class="form-control"/>
    <span asp-validation-for="JobMobile2" class="text-danger"></span>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="JobAddress" class="control-label"></label>
    <input asp-for="JobAddress" class="form-control"/>
    <span asp-validation-for="JobAddress" class="text-danger"></span>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="JobProvienceId" class="control-label"></label>
    @*<input asp-for="JobProvienceId" class="form-control" />*@
    <select asp-for="JobProvienceId" asp-items="@Model.Proviences" class="form-control" id="provinceDropDown" onchange="getCityList('provinceDropDown', '@Url.Action("GetCitiesByProvince", "City")', 'cityDropDown')"></select>
    <span asp-validation-for="JobProvienceId" class="text-danger"></span>
  </div>
</div>

<div class="col-md-4">
  <div class="form-group">
    <label asp-for="JobCityId" class="control-label"></label>
    <select asp-for="JobCityId" class="form-control" id="cityDropDown" onchange="getDistrictList('cityDropDown', '@Url.Action("GetDistrictsByCity", "District")', 'districtDropDown')">
      <option value="@Model.JobCityId">@Model.JobCity</option>
    </select>
    <span asp-validation-for="JobCityId" class="text-danger"></span>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="JobDistrictId" class="control-label"></label>
    <select asp-for="JobDistrictId" class="form-control" id="districtDropDown" onchange="getNeighborhoodList('districtDropDown', '@Url.Action("GetNeighborhoodsByDistrict", "Neighborhood")', 'neighborhoodDropDown')">
      <option value="@Model.JobDistrictId">@Model.JobDistrict</option>
    </select>
    <span asp-validation-for="JobDistrictId" class="text-danger"></span>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="JobneighborhoodId" class="control-label"></label>
    <select asp-for="JobneighborhoodId" class="form-control" id="neighborhoodDropDown">
      <option value="@Model.JobneighborhoodId">@Model.JobNeighborhood</option>
    </select>
    <span asp-validation-for="JobneighborhoodId" class="text-danger"></span>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="JobCategoryId" class="control-label"></label>
    <select asp-for="JobCategoryId" asp-items="@Model.Categories" class="form-control">
      <option value="@Model.JobCategoryId">@Model.JobCategory</option>
    </select>
    <span asp-validation-for="JobCategoryId" class="text-danger"></span>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="JobWazeMap" class="control-label"></label>
    <input asp-for="JobWazeMap" class="form-control"/>
    <span asp-validation-for="JobWazeMap" class="text-danger"></span>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="JobWazeLink" class="control-label"></label>
    <input asp-for="JobWazeLink" class="form-control"/>
    <span asp-validation-for="JobWazeLink" class="text-danger"></span>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="JobPageTittle" class="control-label"></label>
    <input asp-for="JobPageTittle" class="form-control"/>
    <span asp-validation-for="JobPageTittle" class="text-danger"></span>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="JobSlug" class="control-label"></label>
    <input asp-for="JobSlug" class="form-control"/>
    <span asp-validation-for="JobSlug" class="text-danger"></span>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="JobMetaTag" class="control-label"></label>
    <input asp-for="JobMetaTag" class="form-control"/>
    <span asp-validation-for="JobMetaTag" class="text-danger"></span>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="JobMetaDesccription" class="control-label"></label>
    <input asp-for="JobMetaDesccription" class="form-control"/>
    <span asp-validation-for="JobMetaDesccription" class="text-danger"></span>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="JobSeohead" class="control-label"></label>
    <input asp-for="JobSeohead" class="form-control"/>
    <span asp-validation-for="JobSeohead" class="text-danger"></span>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="JobCanonicalAddress" class="control-label"></label>
    <input asp-for="JobCanonicalAddress" class="form-control"/>
    <span asp-validation-for="JobCanonicalAddress" class="text-danger"></span>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="JobContractNumber" class="control-label"></label>
    <input asp-for="JobContractNumber" class="form-control"/>
    <span asp-validation-for="JobContractNumber" class="text-danger"></span>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="JobBenefitPercentForEndCustomer" class="control-label"></label>
    <input asp-for="JobBenefitPercentForEndCustomer" class="form-control"/>
    <span asp-validation-for="JobBenefitPercentForEndCustomer" class="text-danger"></span>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="JobBenefitPercentForCompany" class="control-label"></label>
    <input asp-for="JobBenefitPercentForCompany" class="form-control"/>
    <span asp-validation-for="JobBenefitPercentForCompany" class="text-danger"></span>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="JobDiscountPercentForCustomer" class="control-label"></label>
    <input asp-for="JobDiscountPercentForCustomer" class="form-control"/>
    <span asp-validation-for="JobDiscountPercentForCustomer" class="text-danger"></span>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="JobBefitPercentForIntroducingEndCustomer" class="control-label"></label>
    <input asp-for="JobBefitPercentForIntroducingEndCustomer" class="form-control"/>
    <span asp-validation-for="JobBefitPercentForIntroducingEndCustomer" class="text-danger"></span>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="MarketerPercentForRegisteringShop" class="control-label"></label>
    <input asp-for="MarketerPercentForRegisteringShop" class="form-control"/>
    <span asp-validation-for="MarketerPercentForRegisteringShop" class="text-danger"></span>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="MarketerId" class="control-label"></label>
    <input asp-for="MarketerId" class="form-control"/>
    <span asp-validation-for="MarketerId" class="text-danger"></span>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="JobPosNameNumber" class="control-label"></label>
    <input asp-for="JobPosNameNumber" class="form-control"/>
    <span asp-validation-for="JobPosNameNumber" class="text-danger"></span>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="JobAccountNumber" class="control-label"></label>
    <input asp-for="JobAccountNumber" class="form-control"/>
    <span asp-validation-for="JobAccountNumber" class="text-danger"></span>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="JobShowOrderIncategory" class="control-label"></label>
    <input asp-for="JobShowOrderIncategory" class="form-control"/>
    <span asp-validation-for="JobShowOrderIncategory" class="text-danger"></span>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="CustomerIntroductionLimit" class="control-label"></label>
    <input asp-for="CustomerIntroductionLimit" class="form-control" value="2000"/>
    <span asp-validation-for="CustomerIntroductionLimit" class="text-danger"></span>
  </div>
</div>
<div class="col-md-12">
  <div class="form-group form-check">
    <label class="form-check-label">
      <input class="form-check-input" asp-for="ShowInHomePage"/> @Html.DisplayNameFor(model => model.ShowInHomePage)
    </label>
  </div>
</div>
<div class="col-md-12">
  <div class="form-group form-check">
    <label class="form-check-label">
      <input class="form-check-input" asp-for="IsWebsite"/> @Html.DisplayNameFor(model => model.IsWebsite)
    </label>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="WebsiteUrl" class="control-label"></label>
    <input asp-for="WebsiteUrl" class="form-control"/>
    <span asp-validation-for="WebsiteUrl" class="text-danger"></span>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="InstagramUrl" class="control-label"></label>
    <input asp-for="InstagramUrl" class="form-control"/>
    <span asp-validation-for="InstagramUrl" class="text-danger"></span>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="TelegramUrl" class="control-label"></label>
    <input asp-for="TelegramUrl" class="form-control"/>
    <span asp-validation-for="TelegramUrl" class="text-danger"></span>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="IsDeleted" class="control-label"></label>
    <input asp-for="IsDeleted" class="form-control"/>
    <span asp-validation-for="IsDeleted" class="text-danger"></span>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="RedirectInstead301Url" class="control-label"></label>
    <input asp-for="RedirectInstead301Url" class="form-control"/>
    <span asp-validation-for="RedirectInstead301Url" class="text-danger"></span>
  </div>
</div>

<table class="col-md-12 table table-bordered text-center">
  <tr>
    <td class="col-md-1">ردیف</td>
    <td>فایل</td>
    <td>پیش نمایش</td>
    <td>حذف</td>
  </tr>
  @*<tr>
    <td>1</td>
    <td>
      <input id="photo1" name="photo1" type="file" size="1" onchange="uploadFiles('photo1');PreviewImage('photo1', 'prevphoto1');" class="form-control custom-file-input" accept="image/*" value="@Model.Photo1" />
      <input asp-for="@Model.Photo1" id="namephoto1" name="namephoto1" type="hidden" size="1" value="@Model.Photo1" />
    </td>
    <td>
      <img id="prevphoto1" src="~/JobPhotos/Thumbs/@Model.Photo1" alt="your image" with="100" height="100" />
    </td>
    <td>
      <button type="button" id="deletephoto1" onclick="deletePhoto('photo1')" class="btn btn-danger" filename="@Model.Photo1">حذف</button>
    </td>
  </tr>
  <tr>
    <td>2</td>
    <td>
      <input id="photo2" name="photo2" type="file" size="1" onchange="uploadFiles('photo2');PreviewImage('photo2', 'prevphoto2');" class="form-control custom-file-input" accept="image/*" value="@Model.Photo2" />
      <input asp-for="@Model.Photo2" id="namephoto2" name="namephoto2" type="hidden" size="1" value="@Model.Photo2" />
    </td>
    <td>
      <img id="prevphoto2" src="~/JobPhotos/Thumbs/@Model.Photo2" alt="your image" with="100" height="100" />
    </td>
    <td>
      <button type="button" id="deletephoto2" onclick="deletePhoto('photo2')" class="btn btn-danger" filename="@Model.Photo2">حذف</button>
    </td>
  </tr>
  <tr>
    <td>3</td>
    <td>
      <input id="photo3" name="photo3" type="file" size="1" onchange="uploadFiles('photo3');PreviewImage('photo3', 'prevphoto3');" class="form-control custom-file-input" accept="image/*" value="@Model.Photo3" />
      <input asp-for="@Model.Photo3" id="namephoto3" name="namephoto3" type="hidden" size="1" value="@Model.Photo3" />
    </td>
    <td>
      <img id="prevphoto3" src="~/JobPhotos/Thumbs/@Model.Photo3" alt="your image" with="100" height="100" />
    </td>
    <td>
      <button type="button" id="deletephoto3" onclick="deletePhoto('photo3')" class="btn btn-danger" filename="@Model.Photo3">حذف</button>
    </td>
  </tr>
  <tr>
    <td>4</td>
    <td>
      <input id="photo4" name="photo4" type="file" size="1" onchange="uploadFiles('photo4');PreviewImage('photo4', 'prevphoto4');" class="form-control custom-file-input" accept="image/*" value="@Model.Photo4" />
      <input asp-for="@Model.Photo4" id="namephoto4" name="namephoto4" type="hidden" size="1" value="@Model.Photo4" />
    </td>
    <td>
      <img id="prevphoto4" src="~/JobPhotos/Thumbs/@Model.Photo4" alt="your image" with="100" height="100" />
    </td>
    <td>
      <button type="button" id="deletephoto4" onclick="deletePhoto('photo4')" class="btn btn-danger" filename="@Model.Photo4">حذف</button>
    </td>
  </tr>
  <tr>
    <td>5</td>
    <td>
      <input id="photo5" name="photo5" type="file" size="1" onchange="uploadFiles('photo5');PreviewImage('photo5', 'prevphoto5');" class="form-control custom-file-input" accept="image/*" value="@Model.Photo5" />
      <input asp-for="@Model.Photo5" id="namephoto5" name="namephoto5" type="hidden" size="1" value="@Model.Photo5" />
    </td>
    <td>
      <img id="prevphoto5" src="~/JobPhotos/Thumbs/@Model.Photo5" alt="your image" with="100" height="100" />
    </td>
    <td>
      <button type="button" id="deletephoto5" onclick="deletePhoto('photo5')" class="btn btn-danger" filename="@Model.Photo5">حذف</button>
    </td>
  </tr>
  <tr>
    <td>6</td>
    <td>
      <input id="photo6" name="photo6" type="file" size="1" onchange="uploadFiles('photo6');PreviewImage('photo6', 'prevphoto6');" class="form-control custom-file-input" accept="image/*" value="@Model.Photo6" />
      <input asp-for="@Model.Photo6" id="namephoto6" name="namephoto6" type="hidden" size="1" value="@Model.Photo6" />
    </td>
    <td>
      <img id="prevphoto6" src="~/JobPhotos/Thumbs/@Model.Photo6" alt="your image" with="100" height="100" />
    </td>
    <td>
      <button type="button" id="deletephoto6" onclick="deletePhoto('photo6')" class="btn btn-danger" filename="@Model.Photo6">حذف</button>
    </td>
  </tr>*@
  @foreach (var photo in Model.Photos.Select((value, index) => new {index, value}))
  {
    var index = photo.index;
    index += 1;
    var inputId = "Photo" + index;
    var propertyInputName = "name" + "Photo" + index;
    var propertyInputId = "name" + "Photo" + index + "Id";
    var prevImageId = "prev" + inputId;
    var deleteBtnId = "delete" + inputId;
    <tr>
      <td>@index</td>
      <td>
        <input id="@inputId" name="@inputId" type="file" size="1" onchange="uploadFiles('@inputId', '@photo.value.Id', 'job');PreviewImage('@inputId', '@prevImageId');" class="form-control custom-file-input" accept="image/*" value="@photo.value.Name"/>
        <input asp-for="@propertyInputName" id="@propertyInputName" name="@propertyInputName" type="hidden" size="1" value="@photo.value.Name" filename="@photo.value.Name"/>
        <input asp-for="@propertyInputId" id="@propertyInputId" name="@propertyInputId" type="hidden" size="1" value="@photo.value.Id"/>
      </td>
      <td>
        @if (!string.IsNullOrEmpty(photo.value.Name))
        {
          <img id="@prevImageId" src="~/JobPhotos/Thumbs/@photo.value.Name" alt="your image" with="100" height="100"/>
        }
        else
        {
          <img id="@prevImageId" src="~/defaultimage.png" alt="your image" with="100" height="100"/>
        }
      </td>
      <td>
        @if (!string.IsNullOrEmpty(photo.value.Name))
        {
          <button type="button" id="@deleteBtnId" onclick="deletePhoto('@inputId', 'job')" class="btn btn-danger">حذف</button>
        }
        else
        {
          <button type="button" id="@deleteBtnId" onclick="deletePhoto('@inputId', 'job')" class="btn btn-danger hidden">حذف</button>
        }
      </td>
    </tr>
  }

</table>
<div class="col-md-12">
  <div class="form-group">
    <input type="submit" value="اعمال تغییرات" class="btn btn-success btn-lg"/>
  </div>
</div>

<div class="col-md-12">
  <div class="form-group text-left">
    <a class="text-info" href="@Context.Request.GetDisplayUrl()">بازگشت به لیست</a>
  </div>
</div>
</form>
</div>
</div>