@using Okapia.Areas.Administrator.Models
@model IEnumerable<Jobs>

@{
    ViewData["Title"] = "Index";
}

<h1>صفحه مدیریت مشاغل</h1>

<h3>
    <a asp-action="Create">ایجاد شغل جدید</a>
</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobContactTitile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobManagerFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobManagerLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobProvienceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobCityId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobContactTitile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobManagerFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobManagerLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobProvienceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobCityId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobAddress)
            </td>
            <td>
                @Html.ActionLink("اطلاح", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("جزيیات", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("حذف", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
