@using Okapia.Domain.Commands.User
@model Okapia.Domain.Commands.User.CreateUser

@{
  ViewData["Title"] = "Index";
}
<!--Custom Banner-->
<section class="custom-banner dark-overlay" style="background: url(/assets/images/hero.jpg) no-repeat fixed;">
</section>
<!--/Custom Banner-->

<!--Login Area-->
<section class="form-area section-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-8 centered">
        <div class="section-title">
          <h2>ثبت نام</h2>
        </div>
      </div>
      <div class="col-md-6">
        <form method="post" id="createUserFrm" asp-controller="Account" asp-action="Register">
          <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          <div class="single-field">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
          </div>
          <div class="single-field">
            <label asp-for="Family" class="control-label"></label>
            <input asp-for="Family" class="form-control"/>
            <span asp-validation-for="Family" class="text-danger"></span>
          </div>
          <div class="single-field">
            <label asp-for="NameEn" class="control-label"></label>
            <input asp-for="NameEn" class="form-control"/>
            <span asp-validation-for="NameEn" class="text-danger"></span>
          </div>
          <div class="single-field">
            <label asp-for="FamilyEn" class="control-label"></label>
            <input asp-for="FamilyEn" class="form-control"/>
            <span asp-validation-for="FamilyEn" class="text-danger"></span>
          </div>
          <div class="single-field">
            <label asp-for="NationalCardNumber" class="control-label"></label>
            <input asp-for="NationalCardNumber" class="form-control"/>
            <span asp-validation-for="NationalCardNumber" class="text-danger"></span>
          </div>
          <div class="single-field">
            <label asp-for="PhoneNumber" class="control-label"></label>
            <input asp-for="PhoneNumber" class="form-control"/>
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
          </div>
          <div class="single-field">
            <label asp-for="BirthDate" class="control-label"></label>
            <div class="input-group">
              <div class="input-group-addon" data-MdDateTimePicker="true" data-trigger="click" data-targetselector="#fromDate1" data-groupid="group1" data-fromdate="true" data-enabletimepicker="false" data-placement="left">
                <span class="fa fa-calendar"></span>
              </div>
              <input asp-for="BirthDate" type="text" class="form-control" id="fromDate1" placeholder="تاریخ تولد" data-MdDateTimePicker="true" data-trigger="click" data-targetselector="#fromDate1" data-groupid="group1" data-fromdate="true" data-enabletimepicker="false" data-placement="right"/>
            </div>
          </div>
          <div class="single-field">
            <label asp-for="ProvinceId" class="control-label"></label>
            <select asp-for="ProvinceId" asp-items="@Model.Provinces" class="form-control" id="CreateProvinceDropDown" onchange="getCityList('CreateProvinceDropDown', '@Url.Action("GetCitiesByProvince", "Home", new {area = ""})', 'createCityDropDown')"></select>
            <span asp-validation-for="ProvinceId" class="text-danger"></span>
          </div>
          <div class="single-field">
            <label asp-for="CityId" class="control-label"></label>
            <select asp-for="CityId" class="form-control" id="createCityDropDown" onchange="getDistrictList('createCityDropDown', '@Url.Action("GetDistrictsByCity", "Home", new {area = ""})', 'createDistrictDropDown')">
              <option value="0">شهر را انتخاب کنید...</option>
            </select>
            <span asp-validation-for="CityId" class="text-danger"></span>
          </div>
          <div class="single-field">
            <label asp-for="DistrictId" class="control-label"></label>
            <select asp-for="DistrictId" class="form-control" id="createDistrictDropDown" onchange="getDistrictList('createDistrictDropDown', '@Url.Action("GetNeighborhoodsByDistrict", "Home", new {area = ""})', 'createNeighborhoodDropDown')">
              <option value="0">شهر را انتخاب کنید...</option>
            </select>
            <span asp-validation-for="DistrictId" class="text-danger"></span>
          </div>
          <div class="single-field">
            <label asp-for="NeighborhoodId" class="control-label"></label>
            <select asp-for="NeighborhoodId" class="form-control" id="createNeighborhoodDropDown">
              <option value="0">شهر را انتخاب کنید...</option>
            </select>
            <span asp-validation-for="NeighborhoodId" class="text-danger"></span>
          </div>
          <div class="single-field">
            <label asp-for="Address" class="control-label"></label>
            <input asp-for="Address" class="form-control"/>
            <span asp-validation-for="Address" class="text-danger"></span>
          </div>
          <div class="single-field">
            <label asp-for="Postalcode" class="control-label"></label>
            <input asp-for="Postalcode" class="form-control"/>
            <span asp-validation-for="Postalcode" class="text-danger"></span>
          </div>
          <div class="single-field">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control"/>
            <span asp-validation-for="Email" class="text-danger"></span>
          </div>
          <div class="single-field">
            <label asp-for="Card1" class="control-label"></label>
            <input asp-for="Card1" class="form-control"/>
            <span asp-validation-for="Card1" class="text-danger"></span>
          </div>
          <div class="single-field">
            <label asp-for="Card2" class="control-label"></label>
            <input asp-for="Card2" class="form-control"/>
            <span asp-validation-for="Card2" class="text-danger"></span>
          </div>
          <div class="single-field">
            <label asp-for="Card3" class="control-label"></label>
            <input asp-for="Card3" class="form-control"/>
            <span asp-validation-for="Card3" class="text-danger"></span>
          </div>
          <div class="single-field">
            <label asp-for="Card4" class="control-label"></label>
            <input asp-for="Card4" class="form-control"/>
            <span asp-validation-for="Card4" class="text-danger"></span>
          </div>
          <div class="single-field">
            <label asp-for="Card5" class="control-label"></label>
            <input asp-for="Card5" class="form-control"/>
            <span asp-validation-for="Card5" class="text-danger"></span>
          </div>
          <div class="single-field">
            <label asp-for="Card6" class="control-label"></label>
            <input asp-for="Card6" class="form-control"/>
            <span asp-validation-for="Card6" class="text-danger"></span>
          </div>
          <h3 class="text-danger">@ViewData["errorMessage"]</h3>
          <div class="form-group">
            @*<input type="button" value="ثبت" class="btn btn-primary" onclick="createUser('@Url.Action("Register", "User")', 'createUserFrm', '@Url.Action("Index", "Home")')"/>*@
            <button type="submit" class="bttn-mid btn-fill">ورود</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>