@model Okapia.Domain.ViewModels.Contact.ContactDetailsViewModel
<div id="contactDetailsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog" style="width: 55%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="custom-width-modalLabel">اطلاعات پیام - @Model.Name</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div>
              <dl class="dl-horizontal">
                <div class="dddt">
                  <dt>
                    @Html.DisplayNameFor(model => model.Name):
                  </dt>
                  <dd>
                    @Html.DisplayFor(model => model.Name)
                  </dd>
                </div>
                <div class="dddt">
                  <dt>
                    @Html.DisplayNameFor(model => model.Email):
                  </dt>
                  <dd>
                    @Html.DisplayFor(model => model.Email)
                  </dd>
                </div>
                <div class="dddt">
                  <dt>
                    @Html.DisplayNameFor(model => model.Message):
                  </dt>
                  <dd>
                    @Html.DisplayFor(model => model.Message)
                  </dd>
                </div>
                <div class="dddt">
                  <dt>
                    @Html.DisplayNameFor(model => model.CreationDate):
                  </dt>
                  <dd>
                    @Html.DisplayFor(model => model.CreationDate)
                  </dd>
                </div>
                <div class="dddt">
                  <dt>
                    @Html.DisplayNameFor(model => model.CheckerName):
                  </dt>
                  <dd>
                    @Html.DisplayFor(model => model.CheckerName)
                  </dd>
                </div>
                <div class="dddt">
                  <dt>
                    @Html.DisplayNameFor(model => model.CheckDate):
                  </dt>
                  <dd>
                    @Html.DisplayFor(model => model.CheckDate)
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">بستن</button>
    </div>
  </div>
</div>