@inject IAuthHelper AuthHelper;
@using Okapia.Application.Contracts
@using Okapia.Domain.Commands.Comment
@model DetailsIndexViewModel
@{
  ViewData["Title"] = "جزپیات مرکز خدماتی";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="custom-banner dark-overlay" style="background: url(/assets/images/hero.jpg) no-repeat fixed;"></section>

<!--/Custom Banner-->
<!--Team Area-->
<section class="team-area section-padding-2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-8 centered wow fadeInUp" data-wow-delay="0.3s">

      </div>
    </div>


    <div class="row justify-content-center">
      <div class="col-12 mb-4 col-md-6 SwSlider wow fadeInRight" data-wow-delay="0.3s">

        <!-- Swiper -->
        <div class="swiper-container">
          <div class="swiper-wrapper">
            @foreach (var photo in Model.JobViewDetailsViewModel.Photos)
            {
              if (!string.IsNullOrEmpty(photo.Name))
              {
                <div class="swiper-slide">
                  <img src="~/JobPhotos/@photo.Name" alt="@photo.Alt" title="@photo.Title"/>
                </div>
              }
            }
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>

        </div>
      </div>
      <div class="col-12 col-md-6 okapia wow fadeInUp" data-wow-delay="0.5s">
        <div class="section-title text-right">
          <h2>@Model.JobViewDetailsViewModel.JobName</h2>
          <span class="discount">تخفیف @Model.JobViewDetailsViewModel.JobBenefitPercentForEndCustomer%</span>
        </div>

        <ul class="Features">
          @foreach (var feature in Model.JobViewDetailsViewModel.JobFeatureList)
          {
            <li>
              <b>@feature</b>
            </li>
          }
        </ul>
      </div>
      <div class="col-12 mb-5 mt-5 wow fadeInUp" data-wow-delay="0.5s">
        <div class="card">
          <div class="card-body">
            <div class="section-title text-right mb-3 wow fadeInUp" data-wow-delay="0.8s">
              <h4>در مورد @Model.JobViewDetailsViewModel.JobName</h4>
            </div>
            <article class="wow fadeInUp" data-wow-delay="0.5s">
              <p>
                @Model.JobViewDetailsViewModel.JobSmallDescription
              </p>
              <p>
                @Html.Raw(Model.JobViewDetailsViewModel.JobDescription)
              </p>
            </article>
          </div>
        </div>
      </div>

      <div class="col-12 addressInfo card col-md-6 wow fadeInRight" data-wow-delay="0.5s">
        <div class="card-body">
          <div class="section-title text-right mb-3 wow fadeInUp" data-wow-delay="0.8s">
            <h4>آدرس @Model.JobViewDetailsViewModel.JobName</h4>
          </div>
          <p class="fadeInUp" data-wow-delay="0.5s">
            <i class="fas fa-map-marker"></i>@Model.JobViewDetailsViewModel.JobAddress
          </p>
          <p class="fadeInUp" data-wow-delay="0.5s">
            <i class="fas fa-phone"></i>@Model.JobViewDetailsViewModel.JobTel1 @Model.JobViewDetailsViewModel.JobTel2</p>
          <p class="fadeInUp" data-wow-delay="0.5s">
            <i class="fas fa-phone"></i>@Model.JobViewDetailsViewModel.JobMobile1 @Model.JobViewDetailsViewModel.JobMobile2</p>
          <p class="fadeInUp" data-wow-delay="0.5s">
            <i class="fas fa-map">
              <a target="_blank" href="@Model.JobViewDetailsViewModel.JobWazeLink">برو به Waze</a>
            </i>
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6 wow fadeInLeft" data-wow-delay="0.5s">
        @Html.Raw(Model.JobViewDetailsViewModel.JobWazeMap)
      </div>
    </div>
  </div>
</section>

<section class="blog-details section-padding gray-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">


        <div class="blog-all-comments">
          @foreach (var comment in Model.JobViewDetailsViewModel.Comments)
          {
            <div class="blog-comments wow fadeInUp" data-wow-delay="0.3s">
              <div class="author-thumb">
                <img src="/personImage.jpg" alt=""/>
              </div>
              <div class="author-comments">
                <div class="author-details">
                  <h4>@comment.CommentorFullname</h4>
                  @*<div class="comment-reply-btn">
                    <a href="#">
                      <i class="fa fa-share"></i>
                    </a>
                  </div>*@
                </div>
                <div class="author-designation">
                  @comment.CommentCreationDate
                </div>
                <h3>
                  @comment.CommentTitle
                </h3>
                <p>
                  @comment.CommentText
                </p>
              </div>
            </div>
          }
        </div>

        @if (AuthHelper.GetCurrnetUserInfo().IsAuthorized)
        {
          <div class="blog-comment-form wow fadeInUp" data-wow-delay="0.3s">
            <h3>نظر خود را بنویسید</h3>
            <form asp-action="AddComment" method="post">
              <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-6">
                  <label asp-for="AddComment.CommentTitle" class="control-label"></label>
                  <input asp-for="AddComment.CommentTitle" name="CommentTitle" class="form-control"/>
                  <span asp-validation-for="AddComment.CommentTitle" class="text-danger"></span>
                </div>
                <div class="col-md-12">
                  <label asp-for="AddComment.CommentText" class="control-label"></label>
                  <textarea asp-for="AddComment.CommentText" name="CommentText" rows="6" class="form-control"></textarea>
                  <span asp-validation-for="AddComment.CommentText" class="text-danger"></span>
                </div>
                <input type="hidden" name="CommentOwnerRecordId" value="@Model.JobViewDetailsViewModel.JobId"/>
                <div class="col-md-12">
                  <button class="bttn-mid btn-fill" type="submit">ارسال نظر</button>
                </div>
              </div>
            </form>
          </div>
        }
        else
        {
          <div class="blog-comment-form wow fadeInUp" data-wow-delay="0.3s">
            <h3>برای ثبت نظر لطفا ابتدا وارد شوید <a href="/Account/Login">ورود به سایت</a></h3>
          </div>
        }
        
      </div>
    </div>
  </div>
</section>