@model Okapia.Domain.Commands.Marketer.CreateMarketer

<div id="createMarketerModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog" style="width: 55%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="custom-width-modalLabel">ایجاد بازاریاب جدید</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <form id="createMarketerFrm" method="post">
              <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              <div class="col-md-4">
                <div class="form-group">
                  <label asp-for="MarketerFirstName" class="control-label"></label>
                  <input asp-for="MarketerFirstName" class="form-control"/>
                  <span asp-validation-for="MarketerFirstName" class="text-danger"></span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label asp-for="MarketerLastName" class="control-label"></label>
                  <input asp-for="MarketerLastName" class="form-control"/>
                  <span asp-validation-for="MarketerLastName" class="text-danger"></span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label asp-for="MarketerNationalCode" class="control-label"></label>
                  <input asp-for="MarketerNationalCode" class="form-control"/>
                  <span asp-validation-for="MarketerNationalCode" class="text-danger"></span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label asp-for="MarketerMobile" class="control-label"></label>
                  <input asp-for="MarketerMobile" class="form-control"/>
                  <span asp-validation-for="MarketerMobile" class="text-danger"></span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label asp-for="MarketerProvinceId" class="control-label"></label>
                  <select asp-for="MarketerProvinceId" asp-items="@Model.Provinces" class="select2" id="provinceDropDown" onchange="getCityList('provinceDropDown', '@Url.Action("GetCitiesByProvince", "City")', 'cityDropDown')"></select>
                  <span asp-validation-for="MarketerProvinceId" class="text-danger"></span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label asp-for="MarketerCityId" class="control-label"></label>
                  <select asp-for="MarketerCityId" class="select2" id="cityDropDown" onchange="getDistrictList('cityDropDown', '@Url.Action("GetDistrictsByCity", "District")', 'districtDropDown')">
                    <option value="0">شهر مورد نظر را انتخاب کنید</option>
                  </select>
                  <span asp-validation-for="MarketerCityId" class="text-danger"></span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label asp-for="MarketerDistrictId" class="control-label"></label>
                  <select asp-for="MarketerDistrictId" class="select2" id="districtDropDown" onchange="getNeighborhoodList('districtDropDown', '@Url.Action("GetNeighborhoodsByDistrict", "Neighborhood")', 'neighborhoodDropDown')">
                    <option value="0">منطقه مورد نظر را انتخاب کنید</option>
                  </select>
                  <span asp-validation-for="MarketerDistrictId" class="text-danger"></span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label asp-for="MarketerNeighborhoodId" class="control-label"></label>
                  <select asp-for="MarketerNeighborhoodId" class="select2" id="neighborhoodDropDown">
                    <option value="0">محله مورد نظر را انتخاب کنید</option>
                  </select>
                  <span asp-validation-for="MarketerNeighborhoodId" class="text-danger"></span>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input type="button" value="ثبت" class="btn btn-success btn-lg" onclick="createEntityThenFeedList('@Url.Action("Create", "Marketer")', 'createMarketerFrm', '@Url.Action("ListContent", "Marketer")', 'listMarketerDiv')"/>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->