@model Okapia.Domain.Commands.Setting.FooterBox

<div class="row-offer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1 hidden-sm hidden-xs"></div>
      <div class="row-rf col-md-22">
        <div class="col-5">
          <i aria-hidden="true" class="icon @Model.FooterBoxIcon1"></i>
          <h5 class="offer-title">@Model.FooterBoxTitle1</h5>
          <p>@Model.FooterBoxText1</p>
        </div>
        <div class="col-5">
          <i aria-hidden="true" class="icon @Model.FooterBoxIcon2"></i>
          <h5 class="offer-title">@Model.FooterBoxTitle2</h5>
          <p>@Model.FooterBoxText2</p>
        </div>
        <div class="col-5">
          <i aria-hidden="true" class="icon @Model.FooterBoxIcon3"></i>
          <h5 class="offer-title">@Model.FooterBoxTitle3</h5>
          <p>@Model.FooterBoxText3</p>
        </div>
        <div class="col-5">
          <i aria-hidden="true" class="icon @Model.FooterBoxIcon4"></i>
          <h5 class="offer-title">@Model.FooterBoxTitle4</h5>
          <p>@Model.FooterBoxText4</p>
        </div>
        <div class="col-5">
          <i aria-hidden="true" class="icon @Model.FooterBoxIcon5"></i>
          <h5 class="offer-title">@Model.FooterBoxTitle5</h5>
          <p>@Model.FooterBoxText5</p>
        </div>
      </div>
      <div class="col-md-1 hidden-sm hidden-xs"></div>
    </div>
  </div>
</div>