@using Microsoft.AspNetCore.Http.Extensions
@using Okapia.Domain.SeachModels
@model IEnumerable<Okapia.Domain.ViewModels.Modal.ModalViewModel>
@{
  var searchModel = ViewData["searchModel"] as ModalSearchModel;
}

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-border panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">لیست اعلانات</h2>
      </div>
      <div class="panel-body">
        <table id="datatable" class="table table-striped table-bordered">
          <thead>
          <tr>
          <th>
            ردیف
          </th>
          <th>
            @Html.DisplayNameFor(model => model.ModalPic)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.ModalTitle)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.ModalMessage)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.ModalPageLink)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.ModalGroup)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.ModalStartDate)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.ModalEndDate)
          </th>
          <th>
            عملیات
          </th>

          </thead>
          <tbody>
          @foreach (var item in Model.Select((value, index) => new { index, value }))
          {
            <tr>
              <td>
                @{
                  var index = item.index;
                  index += 1;
                }
                @index
              </td>
              <td>
                <img src="~/ModalPhotos/Thumbs/@item.value.ModalPic" with="100" height="100" />
              </td>
              <td>
                @Html.DisplayFor(modelItem => item.value.ModalTitle)
              </td>
              <td>
                @Html.DisplayFor(modelItem => item.value.ModalMessage)
              </td>
              <td>
                @Html.DisplayFor(modelItem => item.value.ModalPageLink)
              </td>
              <td>
                @Html.DisplayFor(modelItem => item.value.ModalGroup)
              </td>
              <td>
                @Html.DisplayFor(modelItem => item.value.ModalStartDate)
              </td>
              <td>
                @Html.DisplayFor(modelItem => item.value.ModalEndDate)
              </td>
              <td>
                <a class="btn btn-sm btn-info" asp-area="Administrator" asp-controller="Modal" asp-action="Edit" asp-route-id="@item.value.ModalId" asp-route-redirectUrl="@Context.Request.GetDisplayUrl()">ویرایش</a>
                @if (!item.value.IsDeleted)
                {
                  <a class="btn btn-sm btn-danger" asp-area="Administrator" asp-controller="Modal" asp-action="Delete" asp-route-id="@item.value.ModalId">حذف</a>
                }
                else
                {
                  <a class="btn btn-sm btn-success" asp-area="Administrator" asp-controller="Modal" asp-action="Activate" asp-route-id="@item.value.ModalId">فعال سازی</a>
                }
              </td>
            </tr>
          }
          </tbody>
        </table>
        <div class="row">
          <div class="col-md-12">
            تعداد کل رکوردها: @searchModel.RecordCount
          </div>
        </div>
      </div>
      <nav>
        <ul class="pagination">
          @for (var i = 0; i < searchModel.PageCount; i++)
          {
            var routingSearchModel = new ModalSearchModel
            {
              ModalTitle = searchModel.ModalTitle,
              ModalGroupId = searchModel.ModalGroupId,
              IsDeleted = searchModel.IsDeleted,
              ModalStartDate = searchModel.ModalStartDate,
              ModalEndDate = searchModel.ModalEndDate,
              PageSize = 20,
              PageIndex = i
            };
            if (searchModel.PageIndex == i)
            {
              <li class="active">
                @Html.ActionLink((i + 1).ToString(), "Index", "Category", routingSearchModel)
              </li>
            }
            else
            {
              <li>
                @Html.ActionLink((i + 1).ToString(), "Index", "Category", routingSearchModel)
              </li>
            }
          }
        </ul>
      </nav>
    </div>
  </div>
</div>