@using Microsoft.AspNetCore.Http.Extensions
@using Okapia.Domain.SeachModels
@model IEnumerable<Okapia.Domain.ViewModels.Neighborhood.NeighborhoodViewModel>
@{
  var searchModel = ViewData["searchModel"] as NeighborhoodSearchModel;
}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-border panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">لیست مناطق</h2>
      </div>
      <div class="panel-body">
        <table id="datatable" class="table table-striped table-bordered">
          <thead>
          <tr>
          <th>
            ردیف
          </th>
          <th>
            @Html.DisplayNameFor(model => model.Name)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.ProvinceName)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.CityName)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.DistrictName)
          </th>
          <th>
            عملیات
          </th>

          </thead>
          <tbody>
          @foreach (var item in Model.Select((value, index) => new {index, value}))
          {
            <tr>
              <td>
                @{
                  var index = item.index;
                  index += 1;
                }
                @index
              </td>
              <td>
                @Html.DisplayFor(modelItem => item.value.Name)
              </td>
              <td>
                @Html.DisplayFor(modelItem => item.value.ProvinceName)
              </td>
              <td>
                @Html.DisplayFor(modelItem => item.value.CityName)
              </td>
              <td>
                @Html.DisplayFor(modelItem => item.value.DistrictName)
              </td>
              <td>
                <a class="btn btn-sm btn-info" onclick="openEditNeighborhoodModal('@item.value.Id')">ویرایش</a>
                @if (!item.value.IsDeleted)
                {
                  <a class="btn btn-sm btn-danger" asp-area="Administrator" asp-controller="Neighborhood" asp-action="Delete" asp-route-id="@item.value.Id">حذف</a>
                }
                else
                {
                  <a class="btn btn-sm btn-success" asp-area="Administrator" asp-controller="Neighborhood" asp-action="Activate" asp-route-id="@item.value.Id">فعال سازی</a>
                }
              </td>
            </tr>
          }
          </tbody>
        </table>
      </div>
      <nav>
        <ul class="pagination">
          @for (var i = 0; i < searchModel.PageCount; i++)
          {
            var routingSearchModel = new NeighborhoodSearchModel
            {
              Name = searchModel.Name,
              ProvinceId = searchModel.ProvinceId,
              CityId = searchModel.CityId,
              DistrictId = searchModel.DistrictId,
              IsDeleted = searchModel.IsDeleted,
              PageSize = 80,
              PageIndex = i
            };
            if (searchModel.PageIndex == i)
            {
              <li class="active">
                @Html.ActionLink((i + 1).ToString(), "Index", "Neighborhood", routingSearchModel)
              </li>
            }
            else
            {
              <li>
                @Html.ActionLink((i + 1).ToString(), "Index", "Neighborhood", routingSearchModel)
              </li>
            }
          }
        </ul>
      </nav>
    </div>
  </div>
</div>

<div id="editNeighborhoodDiv">

</div>
<script>
  function openEditNeighborhoodModal(id) {
    $.ajax({
      url: '@Url.Action("Edit", "Neighborhood")/'+id,
      type: "Get",
      success: function(response) {
        $("#editNeighborhoodDiv").html(response);
        $('#editNeighborhoodModal').modal('toggle');
      }
    });
  }
</script>