@model Okapia.Domain.SeachModels.NeighborhoodSearchModel

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-border panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">جستجو در مناطق</h2>
      </div>
      <div class="panel-body">
        <form asp-action="Index" asp-controller="Neighborhood" asp-area="Administrator" method="GET">
          <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          <div class="col-md-4">
            <div class="form-group">
              <label asp-for="Name" class="control-label"></label>
              <input asp-for="Name" class="form-control" />
              <span asp-validation-for="Name" class="text-danger"></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label asp-for="ProvinceId" class="control-label"></label>
              <select asp-for="ProvinceId" asp-items="@Model.Provinces" class="form-control" id="searchProvinceDropDown" onchange="getCityList('searchProvinceDropDown', '@Url.Action("GetCitiesByProvince", "City")', 'searchCityDropDown')">
              </select>
              <span asp-validation-for="ProvinceId" class="text-danger"></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label asp-for="CityId" class="control-label"></label>
              <select asp-for="CityId" asp-items="@Model.Cities" class="form-control" id="searchCityDropDown" onchange="getDistrictList('searchCityDropDown', '@Url.Action("GetDistrictsByCity", "District")', 'searchDistrictDropDown')">
              </select>
              <span asp-validation-for="CityId" class="text-danger"></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label asp-for="DistrictId" class="control-label"></label>
              <select asp-for="DistrictId" asp-items="@Model.Districts" class="form-control" id="searchDistrictDropDown">
              </select>
              <span asp-validation-for="DistrictId" class="text-danger"></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label asp-for="IsDeleted" class="control-label"></label>
              <input asp-for="IsDeleted" class="form-control" />
              <span asp-validation-for="IsDeleted" class="text-danger"></span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <input type="submit" value="جستجو" class="btn btn-primary" />
              <a asp-area="Administrator" asp-controller="Neighborhood" asp-action="Index" class="btn btn-warning">به روزرسانی/پاکسازی فرم جستجو</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>