@using Okapia.Application.Contracts
@using Okapia.Domain.SeachModels
@inject IAuthHelper AuthHelper
@model IEnumerable<Okapia.Domain.ViewModels.Category.CategoryMenuViewModel>

<div class="container sticky-hiden">
  <div class="row rtl">
    <div class="d-none d-md-block col-md-4 text-right">
      <a href="/">
        <img src="~/assets/images/logo.png" class="logo d-inline-block align-top" alt="">
      </a>
    </div>

    <div class="col-12 col-md-4 text-left d-flex align-items-center">
      <form class="form-bundle" asp-action="Search" asp-controller="Home" asp-area="">
        <div class="clearfix">
          <i class="icon fa fa-search"></i>
          <input id="search__input" name="q" type="text" autocomplete="off"
                 placeholder="محصول,دسته یا برند ..." class="invisible-input" value="">
          <button class="submit">جستجو</button>
        </div>
      </form>
    </div>

    @*<div class="d-none d-md-block col-md-4 text-right">
      @if (!AuthHelper.GetCurrnetUserInfo().IsAuthorized)
      {
        <li class="float-left">
          <div class="login-btn">
            <a asp-controller="Account" asp-action="Login">
              <i class="icon-signin icon-ml"></i>
              <span>ورود</span>
            </a>
          </div>
        </li>
        <li class="float-left">
          <div class="login-btn">
            <a asp-controller="Account" asp-action="Register">
              <i class="icon-signup icon-ml"></i>
              <span>ثبت نام</span>

            </a>
          </div>
        </li>
      }
      else
      {
        if (AuthHelper.GetCurrnetUserInfo().Role == 4 || AuthHelper.GetCurrnetUserInfo().Role == 5)
        {
          <li class="nav-item float-left">
            <a class="nav-link" asp-area="Administrator" asp-controller="Home" asp-action="Index">@AuthHelper.GetCurrnetUserInfo().Name خوش آمدید</a>
          </li>
        }
        if (AuthHelper.GetCurrnetUserInfo().Role == 2)
        {
          <li class="nav-item float-left">
            <a class="nav-link" asp-area="Job" asp-controller="Home" asp-action="Index">@AuthHelper.GetCurrnetUserInfo().Name خوش آمدید</a>
          </li>
        }
        if (AuthHelper.GetCurrnetUserInfo().Role == 1)
        {
          <li class="nav-item float-left">
            <a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="Index">@AuthHelper.GetCurrnetUserInfo().Name خوش آمدید</a>
          </li>
        }
        if (AuthHelper.GetCurrnetUserInfo().Role == 3)
        {
          <li class="nav-item float-left">
            <a class="nav-link" asp-area="Club" asp-controller="Home" asp-action="Index">@AuthHelper.GetCurrnetUserInfo().Name خوش آمدید</a>
          </li>
        }
        <li class="nav-item float-left">
          <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout">خروج</a>
        </li>
      }*@
    @*</div>*@

  </div>
</div>
<nav class="navbar sticky-top navbar-expand-lg main-menu">
  <div class="container-fluid rtl">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="menu-toggle"></span>
    </button>
    <a href="/" class="d-md-none float-right">
      <img src="~/assets/images/logo.png" class="logo d-inline-block align-top" alt="">
    </a>

    <div class="row megamenu collapse navbar-collapse" id="navbarSupportedContent">
      <div class="container-fluid">
        <ul class="items">
          <li>
            <a asp-controller="Home" asp-action="Index" asp-area="">
              صفحه نخست
            </a>
          </li>
          <li>
            <a href="http://eghamatyab.com/" target="_blank">
              گردشگری
            </a>
          </li>
          @foreach (var menu in Model)
          {
            <li>
              <a href="#">
                <i class=""></i>
                @menu.CategoryName
              </a>
              <ul class="menu-hover">
                <li class="row">
                  <ul class="list">
                    @foreach (var child in menu.CategoryChilds)
                    {
                      var searchModel = new JobViewSearchModel
                      {
                        CategoryId = child.CategoryId
                      };
                      <li>
                        @Html.ActionLink(child.CategoryName, "مراکز-خدماتی-و-فروشگاهی", "JobView", searchModel)
                      </li>
                    }
                  </ul>
                </li>
                <div class="mega-side">
                  <img src="~/CategoryPhotos/@menu.Photo" class="image-megamenu" width="441" height="268">
                </div>
              </ul>
            </li>
          }
        </ul>
      </div>
    </div>
  </div>
</nav>