@model IEnumerable<Okapia.Models.Customer>

@{
    ViewData["Title"] = "صفحه مدیریت مشتریان";
}

<h1>لیست مشتریان سیستم</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Family)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NationalCardNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Family)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NationalCardNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
              @Html.ActionLink("ویرایش", "Edit", new { /* id=item.PrimaryKey */ }) |
              @Html.ActionLink("جزییات", "Details", new { /* id=item.PrimaryKey */ }) |
              @Html.ActionLink("حذف", "Delete", new { /* id=item.PrimaryKey */ })‍ |
              @Html.ActionLink("مشاهده گزارشات", "Reports", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
