@model Okapia.Domain.Commands.User.CreateUser
@{
  ViewData["Title"] = "ایجاد مشتری";
}

<h1>فرم ایجاد مشتری</h1>

<h4>برای ثبت مشتری جدید فرم زیر را کامل کنید</h4>

<hr/>
<div class="row">
  <div class="col-md-12">
    <form id="createUserFrm" method="post">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="col-md-4">
        <div class="form-group">
          <label asp-for="Name" class="control-label"></label>
          <input asp-for="Name" class="form-control"/>
          <span asp-validation-for="Name" class="text-danger"></span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label asp-for="Family" class="control-label"></label>
          <input asp-for="Family" class="form-control"/>
          <span asp-validation-for="Family" class="text-danger"></span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label asp-for="NameEn" class="control-label"></label>
          <input asp-for="NameEn" class="form-control direct-ltr"/>
          <span asp-validation-for="NameEn" class="text-danger"></span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label asp-for="FamilyEn" class="control-label"></label>
          <input asp-for="FamilyEn" class="form-control direct-ltr"/>
          <span asp-validation-for="FamilyEn" class="text-danger"></span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label asp-for="NationalCardNumber" class="control-label">کدملی(به عنوان نام کاربری)</label>
          <input asp-for="NationalCardNumber" class="form-control direct-ltr"/>
          <span asp-validation-for="NationalCardNumber" class="text-danger"></span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label asp-for="PhoneNumber" class="control-label">موبایل(به عنوان رمز عبور)</label>
          <input asp-for="PhoneNumber" class="form-control direct-ltr"/>
          <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label asp-for="BirthDate" class="control-label"></label>
          <div class="input-group">
            <div class="input-group-addon" data-MdDateTimePicker="true" data-trigger="click" data-targetselector="#fromDate1" data-groupid="group1" data-fromdate="true" data-enabletimepicker="false" data-placement="left">
              <span class="fa fa-calendar"></span>
            </div>
            <input asp-for="BirthDate" type="text" class="form-control" id="fromDate1" placeholder="تاریخ تولد" data-MdDateTimePicker="true" data-trigger="click" data-targetselector="#fromDate1" data-groupid="group1" data-fromdate="true" data-enabletimepicker="false" data-placement="right"/>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label asp-for="ProvinceId" class="control-label"></label>
          <select asp-for="ProvinceId" asp-items="@Model.Provinces" class="select2" id="CreateProvinceDropDown" onchange="getCityList('CreateProvinceDropDown', '@Url.Action("GetCitiesByProvince", "City")', 'createCityDropDown')">
          </select>
          <span asp-validation-for="ProvinceId" class="text-danger"></span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label asp-for="CityId" class="control-label"></label>
          <select asp-for="CityId" class="select2" id="createCityDropDown" onchange="getDistrictList('createCityDropDown', '@Url.Action("GetDistrictsByCity", "District")', 'createDistrictDropDown')">
            <option value="0">شهر را انتخاب کنید...</option>
          </select>
          <span asp-validation-for="CityId" class="text-danger"></span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label asp-for="DistrictId" class="control-label"></label>
          <select asp-for="DistrictId" class="select2" id="createDistrictDropDown" onchange="getDistrictList('createDistrictDropDown', '@Url.Action("GetNeighborhoodsByDistrict", "Neighborhood")', 'createNeighborhoodDropDown')">
            <option value="0">شهر را انتخاب کنید...</option>
          </select>
          <span asp-validation-for="DistrictId" class="text-danger"></span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label asp-for="NeighborhoodId" class="control-label"></label>
          <select asp-for="NeighborhoodId" class="select2" id="createNeighborhoodDropDown">
            <option value="0">شهر را انتخاب کنید...</option>
          </select>
          <span asp-validation-for="NeighborhoodId" class="text-danger"></span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label asp-for="Address" class="control-label"></label>
          <input asp-for="Address" class="form-control"/>
          <span asp-validation-for="Address" class="text-danger"></span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label asp-for="Postalcode" class="control-label"></label>
          <input asp-for="Postalcode" class="form-control direct-ltr"/>
          <span asp-validation-for="Postalcode" class="text-danger"></span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label asp-for="Email" class="control-label"></label>
          <input asp-for="Email" class="form-control direct-ltr"/>
          <span asp-validation-for="Email" class="text-danger"></span>
        </div>
      </div>
      <div id="card1" class="col-md-4">
        <div class="form-group">
          <label asp-for="Card1" class="control-label"></label>
          <input asp-for="Card1" class="form-control direct-ltr" onchange="makeCardNumber('Card1')"/>
          <span asp-validation-for="Card1" class="text-danger"></span>
        </div>
      </div>
      <div id="card2" class="col-md-4">
        <div class="form-group">
          <label asp-for="Card2" class="control-label"></label>
          <input asp-for="Card2" class="form-control direct-ltr"/>
          <span asp-validation-for="Card2" class="text-danger"></span>
        </div>
      </div>
      <div id="card3" class="col-md-4">
        <div class="form-group">
          <label asp-for="Card3" class="control-label"></label>
          <input asp-for="Card3" class="form-control direct-ltr"/>
          <span asp-validation-for="Card3" class="text-danger"></span>
        </div>
      </div>
      <div id="card4" class="col-md-4">
        <div class="form-group">
          <label asp-for="Card4" class="control-label"></label>
          <input asp-for="Card4" class="form-control direct-ltr"/>
          <span asp-validation-for="Card4" class="text-danger"></span>
        </div>
      </div>
      <div id="card5" class="col-md-4">
        <div class="form-group">
          <label asp-for="Card5" class="control-label"></label>
          <input asp-for="Card5" class="form-control direct-ltr"/>
          <span asp-validation-for="Card5" class="text-danger"></span>
        </div>
      </div>
      <div id="card6" class="col-md-4">
        <div class="form-group">
          <label asp-for="Card6" class="control-label"></label>
          <input asp-for="Card6" class="form-control direct-ltr"/>
          <span asp-validation-for="Card6" class="text-danger"></span>
        </div>
      </div>
      <div id="card7" class="col-md-4">
        <div class="form-group">
          <label asp-for="Card7" class="control-label"></label>
          <input asp-for="Card7" class="form-control direct-ltr"/>
          <span asp-validation-for="Card7" class="text-danger"></span>
        </div>
      </div>
      <div id="card6" class="col-md-4">
        <div class="form-group">
          <label asp-for="Card8" class="control-label"></label>
          <input asp-for="Card8" class="form-control direct-ltr"/>
          <span asp-validation-for="Card8" class="text-danger"></span>
        </div>
      </div>
      <div id="card6" class="col-md-4">
        <div class="form-group">
          <label asp-for="Card9" class="control-label"></label>
          <input asp-for="Card9" class="form-control direct-ltr"/>
          <span asp-validation-for="Card9" class="text-danger"></span>
        </div>
      </div>
      <div id="card6" class="col-md-4">
        <div class="form-group">
          <label asp-for="Card10" class="control-label"></label>
          <input asp-for="Card10" class="form-control direct-ltr"/>
          <span asp-validation-for="Card10" class="text-danger"></span>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <input type="button" value="ثبت" class="btn btn-success btn-lg" onclick="createEntityThenReferesh('@Url.Action("Create", "User")', 'createUserFrm')" />
          <a class="btn btn-warning btn-lg" asp-action="Index" asp-controller="User" asp-area="Administrator">بازگشت به لیست</a>
        </div>
      </div>
    </form>
  </div>
</div>
<script>
  function makeCardNumber(inputId) {
    //const value = $(`#${inputId}`).val();
    //if (value.length === 4) {
    //  $(`#${inputId}`).val(`${value}-`);
    //}
    //if (value.length === 9) {
    //  $(`#${inputId}`).val(`${value}-`);
    //}
    //if (value.length === 14) {
    //  $(`#${inputId}`).val(`${value}-`);
    //}
    //if (value.length === 19) {
    //  $(`#${inputId}`).val(`${value}-`);
    //}
    
    //const seg1 = value.substring(0, 4);
    //const seg2 = value.substring(4, 8);
    //const seg3 = value.substring(8, 12);
    //const seg4 = value.substring(12, 16);
    //const result = `${seg1}-${seg2}-${seg3}-${seg4}`;
    //$(`#${inputId}`).val(result);
  }
</script>