@inject IAuthHelper _AuthHelper
@using Okapia.Application.Contracts
@using Okapia.Areas.Administrator.Controllers
@{
}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>@ViewData["Title"] - سایت تخفیف اُکاپیا</title>
  <meta name="description" content="@ViewData["MetaDescription"]"/>
  <meta name="robots" content="@ViewData["MetaTags"]"/>
  <link rel="canonical" href="@ViewData["CanonicalAddress"]"/>
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  @*<link href="~/assets/theme/css/bundle.css" rel="stylesheet">
    <link href="~/assets/theme/fonts/iran_sans/fontiran.css" rel="stylesheet">*@

  @*<script src="//code.jivosite.com/widget.js" data-jv-id="bIe87janoL" async></script>*@

  <link rel="stylesheet" href="~/assets/theme/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="~/assets/theme/css/bootstrap-rtl.min.css"/>
  <link rel="stylesheet" href="~/assets/theme/css/owl.carousel.min.css"/>
  <link rel="stylesheet" href="~/assets/theme/css/owl.theme.css"/>
  <link rel="stylesheet" href="~/assets/theme/css/jquery-ui.min.css"/>
  <link rel="stylesheet" href="~/assets/theme/css/jquery-ui.structure.min.css"/>
  <link rel="stylesheet" href="~/assets/theme/css/jquery-ui.theme.min.css"/>
  <link rel="stylesheet" href="~/assets/theme/css/jquery.ui.slider-rtl.css"/>
  <link rel="stylesheet" href="~/assets/theme/css/select2.min.css"/>
  <link rel="stylesheet" href="~/assets/theme/css/kit1abf.css?v=2.6.4"/>
  <link rel="stylesheet" href="~/assets/theme/css/animate.css"/>
  <link rel="stylesheet" href="~/assets/theme/fonts/iran_sans/fontiran.css"/>
  <link rel="stylesheet" href="~/assets/theme/css/AutoComplete/easy-autocomplete.css"/>
  <link rel="stylesheet" href="~/assets/theme/css/AutoComplete/easy-autocomplete.themes.css"/>
  <link rel="stylesheet" href="~/assets/theme/css/swiper.min.css"/>

</head>

<body>
<div class="madJaxWait hidden">
  <div class="loading-content">
    <div class="spinner">
      <div class="loader">
        <svg viewBox="25 25 50 50" class="circular">
          <circle cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"
                  class="path">
          </circle>
        </svg>
      </div>
      <p>لطفا کمی منتظر بمانید</p>
    </div>
  </div>
</div>

<header>
  <div class="t-fix"></div>
  <div class="tape-1"></div>

  @await Component.InvokeAsync("Banner")

  <div class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-1 hidden-sm hidden-xs"></div>
        <div class="burger-col hidden-lg hidden-md col-xs-8">
          <i class="burger-icon">
            <i class="icon icon-menu-options">
            </i>
          </i>
        </div>
        <div class="col-md-6 col-xs-8 col-logo ">
          <a asp-controller="Home" asp-action="Index" class="logo">
            <img src="~/assets/theme/img/okapia.png" class="img-responsive" alt=" نت برگ">
          </a>
        </div>
        <div class="btn-col hidden-lg hidden-md col-xs-8">
          <i class="header-icon toggle-search-js">
            <i class="icon icon-search">
            </i>
          </i>
        </div>
        <div class="col-md-10 col-xs-24 hidden-sm hidden-xs toggle-hidden">
          <form id="search-form" method="get" class="search" action="http://netbarg.com/tehran/search/">
            <div style="overflow: visible" class="search-form-box input-btn site-search">
              <i class="icon icon-arrow-back search-close hidden">
              </i>
              <input name="q" id="search-box" type="text"
                     placeholder="جستجو (رستوران، مکان ورزشی، کالا، ...)">
              <button class="btn btn-warning btn-type-1">جستجو</button>
              <i id="closeSearchResult" class="icon icon-close search-clean hidden"></i>
            </div>
          </form>
        </div>
        <div class="col-md-1 hidden-sm hidden-xs"></div>
      </div>
    </div>
  </div>

  <div class="bar clearfix">
    <div class="bar-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-1 hidden-sm hidden-xs"></div>
          <div class="col-lg-3 col-md-4 hidden-sm hidden-xs">
            <div class="clearfix">
              <a asp-controller="Home" asp-action="Index" class="home-link">
                <i class="icon icon-home"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-13 col-md-11 clearfix mobile">
            <div class="dropdown dropdown-1">
              <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle selected-city" city-id="42546">
                تهران
                <span class="inline-block icon icon-arrow-down"></span>
              </button>
              <ul class="dropdown-menu">
                @foreach (var province in Provinces.ToList().Where(x => x.Id != 0).OrderBy(x => x.Name))
                {
                  <li>
                    <a href="ardebil/index.html">
                      <span class="pull-right">@province.Name</span>
                      <span class="badge"></span>
                    </a>
                  </li>
                }
              </ul>
            </div>
          </div>
          <div class="col-lg-6 col-md-7 hidden-sm hidden-xs">
            @if (_AuthHelper.GetCurrnetUserInfo().IsAuthorized)
            {
              var area = "";
              var userRole = _AuthHelper.GetCurrnetUserInfo().Role;
              if (userRole == 4 || userRole == 5)
              {
                area = "Administrator";
              }
              if (userRole == 2)
              {
                area = "Job";
              }
              if (userRole == 1)
              {
                area = "User";
              }
              <div class="login-dropdown clearfix">
                <a href="/@area/Home/Index">
                  <div style="background-image: url(/assets/theme/img/user-pic.png)" class="avatar inline-block"></div>
                  <span class="avatar-info inline-block">
                    حسین عباس آبادی
                  </span>
                </a>
              </div>
            }
            else
            {
              <div class="loginout">
                <a asp-controller="Account" asp-action="Login" class="login">
                  <span>
                    <i class="icon icon-Login"></i>
                    ورود
                  </span>
                </a>
                <a asp-controller="Account" asp-action="Register" class="signup">
                  <span>
                    <i class="icon icon-signup"></i>
                    ثبت نام
                  </span>
                </a>
              </div>
            }

          </div>
          <div class="col-md-1 hidden-sm hidden-xs"></div>
        </div>
      </div>
    </div>
    <div class="bar-alert">
      <div class="nb-alert-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-1 hidden-sm hidden-xs"></div>
            <div class="col-md-22 col-xs-24 header_alert_wrapper">
            </div>
            <div class="col-md-1 hidden-sm hidden-xs"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  @await Component.InvokeAsync("MobileCategories")

</header>

<main>
  @RenderBody()
</main>

<footer>
  
  @await Component.InvokeAsync("FooterBoxes")

  <div class="row-footer-menu">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-1 hidden-sm hidden-xs"></div>
        <div class="col-md-22">
          <div class="row">

            <ul class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <li>نت&zwnj;برگ</li>
              <li>
                <a href="page/about/index.html">درباره نت&zwnj;برگ</a>
              </li>
              <li>
                <a href="page/term-and-conditions/index.html">قوانین و مقررات</a>
              </li>
              <li>
                <a href="page/privacy-policy/index.html">حریم خصوصی</a>
              </li>
              <li>
                <a href="page/press/index.html">نت&zwnj;برگ در اخبار</a>
              </li>
            </ul>
            <ul class="col-lg-4 col-md-6 col-sm-6 col-xs-12 nth-2">
              <li>ارتباط با ما</li>
              <li>
                <a href="contactus/index.html">تماس با ما</a>
              </li>
              <li>
                <a href="landing/ImbcoWorkable/index.html">همکاری با ما</a>
              </li>
              <li>
                <a href="page/netbarg-agents/index.html">دریافت نمایندگی</a>
              </li>
              <li>
                <a href="page/netbarg-for-your-biz/index.html">نت&zwnj;برگ برای کسب و کار شما</a>
              </li>
            </ul>
            <ul class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <li>بیشتر بدانید</li>
              <li>
                <a href="corp/index.html">نت&zwnj;برگ سازمانی</a>
              </li>
              <li>
                <a href="page/buy-netbarg/index.html">راهنمای خرید</a>
              </li>
              <li>
                <a href="page/online-payment/index.html">راهنمای پرداخت</a>
              </li>
              <li>
                <a href="page/learn/index.html">نت برگ چگونه کار می‌کند</a>
              </li>
              <li>
                <a href="page/faq/index.html">سوالات متداول</a>
              </li>
            </ul>
            <ul class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <li>سایر خدمات</li>
              <li>
                <a href="trends/index.html">نت&zwnj;برگ های در جریان</a>
              </li>
              <li>
                <a href="areas/index.html">نت&zwnj;برگ های مناطق</a>
              </li>
              <li>
                <a href="merchants/index.html">نت&zwnj;برگ های کسب و کار</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-1 hidden-sm hidden-xs"></div>
      </div>
    </div>
  </div>
  @await Component.InvokeAsync("FooterAbout")

</footer>


<script src="~/assets/theme/js/jquery-1.12.0.min.js"></script>
<script src="~/assets/theme/js/bootstrap.min.js"></script>
<script src="~/assets/theme/js/jquery.touchSwipe.min.js"></script>
<script src="~/assets/theme/js/js-cookie.js"></script>
<script src="~/assets/theme/js/owl.carousel.min.js"></script>
<script src="~/assets/theme/js/wow.min.js"></script>
<script src="~/assets/theme/js/sticky.js"></script>
<script src="~/assets/theme/js/bowser.js"></script>
<script src="~/assets/theme/js/jquery.flip.min.js"></script>
<script src="~/assets/theme/js/jquery-ui.min.js"></script>
<script src="~/assets/theme/js/jquery.ui.slider-rtl.min.js"></script>
<script src="~/assets/theme/js/select2.full.min.js"></script>
<script src="~/assets/theme/js/jquery.unveil.js"></script>
<script src="~/assets/theme/js/jquery.dotdotdot.min.js"></script>
<script src="~/assets/theme/js/i18n/fa.js"></script>
<script src="~/assets/theme/js/phone-verification.js?v=1.0.4"></script>
<script src="~/assets/theme/js/app.js?v=1.5.9"></script>
<script src="~/assets/theme/js/validation.js?v=1.0.6"></script>
<script src="~/assets/theme/js/madjax.js?v=1.1.5"></script>
<script src="~/assets/theme/js/ajax-result-function.js?v=1.5.6"></script>
<script src="~/assets/theme/js/client-function.js"></script>
<script src="~/assets/theme/js/AutoComplete/jquery.easy-autocomplete.js?v=1.0.5"></script>
<script src="~/assets/theme/js/elastic.js"></script>
<script src="~/assets/theme/js/swiper.min.js"></script>

@*<script src="~/assets/theme/js/site.min.js"></script>*@

<script>
  jQuery(document).ready(function() {
    $.get('@Url.Action("GetModals", "Home")',
      {},
      function(HTMLData) {
        if (HTMLData !== "") {
          $('body').append(HTMLData);
          $('.modalNotify').modal('show');
        }
      });
  });
</script>
<script>
  var swiper = new Swiper('.swiper-container',
    {
      slidesPerView: 4,
      spaceBetween: 30,
      slidesPerGroup: 4,
      loop: true,
      loopFillGroupWithBlank: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev'
      }
    });
</script>
</body>
</html>