@using Okapia.Areas.Administrator.Controllers
@{
}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>@ViewData["Title"] - سایت تخفیف اُکاپیا</title>
  <meta name="description" content="@ViewData["MetaDescription"]" />
  <meta name="robots" content="@ViewData["MetaTags"]" />
  <link rel="canonical" href="@ViewData["CanonicalAddress"]" />
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  @*<link href="~/assets/theme/css/bundle.css" rel="stylesheet">
    <link href="~/assets/theme/fonts/iran_sans/fontiran.css" rel="stylesheet">*@

  @*<script src="//code.jivosite.com/widget.js" data-jv-id="bIe87janoL" async></script>*@

  <link rel="stylesheet" href="~/assets/theme/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/assets/theme/css/bootstrap-rtl.min.css" />
  <link rel="stylesheet" href="~/assets/theme/css/owl.carousel.min.css" />
  <link rel="stylesheet" href="~/assets/theme/css/owl.theme.css" />
  <link rel="stylesheet" href="~/assets/theme/css/jquery-ui.min.css" />
  <link rel="stylesheet" href="~/assets/theme/css/jquery-ui.structure.min.css" />
  <link rel="stylesheet" href="~/assets/theme/css/jquery-ui.theme.min.css" />
  <link rel="stylesheet" href="~/assets/theme/css/jquery.ui.slider-rtl.css" />
  <link rel="stylesheet" href="~/assets/theme/css/select2.min.css" />
  <link rel="stylesheet" href="~/assets/theme/css/kit1abf.css?v=2.6.4" />
  <link rel="stylesheet" href="~/assets/theme/css/animate.css" />
  <link rel="stylesheet" href="~/assets/theme/fonts/iran_sans/fontiran.css" />
  <link rel="stylesheet" href="~/assets/theme/css/AutoComplete/easy-autocomplete.css" />
  <link rel="stylesheet" href="~/assets/theme/css/AutoComplete/easy-autocomplete.themes.css" />
  <link rel="stylesheet" href="~/assets/theme/css/swiper.min.css" />

</head>

<body>
<div class="madJaxWait hidden">
  <div class="loading-content">
    <div class="spinner">
      <div class="loader">
        <svg viewBox="25 25 50 50" class="circular">
          <circle cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"
                  class="path">
          </circle>
        </svg>
      </div>
      <p>لطفا کمی منتظر بمانید</p>
    </div>
  </div>
</div>

<header>
<div class="t-fix"></div>
<div class="tape-1"></div>

@await Component.InvokeAsync("Banner")

<div class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1 hidden-sm hidden-xs"></div>
      <div class="burger-col hidden-lg hidden-md col-xs-8">
        <i class="burger-icon">
          <i class="icon icon-menu-options">
          </i>
        </i>
      </div>
      <div class="col-md-6 col-xs-8 col-logo ">
        <a href="tehran/index.html" class="logo">
          <img src="~/assets/theme/img/okapia.png" class="img-responsive" alt=" نت برگ">
        </a>
      </div>
      <div class="btn-col hidden-lg hidden-md col-xs-8">
        <i class="header-icon toggle-search-js">
          <i class="icon icon-search">
          </i>
        </i>
      </div>
      <div class="col-md-10 col-xs-24 hidden-sm hidden-xs toggle-hidden">
        <form id="search-form" method="get" class="search" action="http://netbarg.com/tehran/search/">
          <div style="overflow: visible" class="search-form-box input-btn site-search">
            <i class="icon icon-arrow-back search-close hidden">
            </i>
            <input name="q" id="search-box" type="text"
                   placeholder="جستجو (رستوران، مکان ورزشی، کالا، ...)">
            <button class="btn btn-warning btn-type-1">جستجو</button>
            <i id="closeSearchResult" class="icon icon-close search-clean hidden"></i>
          </div>
        </form>
      </div>
      <div class="col-md-1 hidden-sm hidden-xs"></div>
    </div>
  </div>
</div>

<div class="bar clearfix">
    <div class="bar-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-1 hidden-sm hidden-xs"></div>
          <div class="col-lg-3 col-md-4 hidden-sm hidden-xs">
            <div class="clearfix">
              <a href="tehran/index.html" class="home-link">
                <i class="icon icon-home"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-13 col-md-11 clearfix mobile">
            <div class="dropdown dropdown-1">
              <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle selected-city" city-id="42546">
                تهران
                <span class="inline-block icon icon-arrow-down"></span>
              </button>
              <ul class="dropdown-menu">
                @foreach (var province in Provinces.ToList().Where(x=>x.Id != 0).OrderBy(x=>x.Name))
                {
                  <li>
                    <a href="ardebil/index.html">
                      <span class="pull-right">@province.Name</span>
                      <span class="badge"></span>
                    </a>
                  </li>  
                }
              </ul>
            </div>
          </div>
          <div class="col-lg-6 col-md-7 hidden-sm hidden-xs">
            @*<div class="login-dropdown clearfix">
                <a data-toggle="dropdown" href="#Page" class="dropdown-toggle">
                  <div style="background-image:url(/assets/theme/img/user-pic.png)" class="avatar inline-block"></div>
                  <span class="avatar-info inline-block">
                    حسین  عباس آبادی
                  </span>
                </a>
              </div>*@
            <div class="loginout">
              <a asp-controller="Account" asp-action="Login" class="login">
                <span>
                  <i class="icon icon-Login"></i>
                  ورود
                </span>
              </a>
              <a asp-controller="Account" asp-action="Register" class="signup">
                <span>
                  <i class="icon icon-signup"></i>
                  ثبت نام
                </span>
              </a>
            </div>
          </div>
          <div class="col-md-1 hidden-sm hidden-xs"></div>
        </div>
      </div>
    </div>
    <div class="bar-alert">
      <div class="nb-alert-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-1 hidden-sm hidden-xs"></div>
            <div class="col-md-22 col-xs-24 header_alert_wrapper">
            </div>
            <div class="col-md-1 hidden-sm hidden-xs"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
@await Component.InvokeAsync("MobileCategories")

</header>

@RenderBody()


<footer>
<div class="row-offer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1 hidden-sm hidden-xs"></div>
      <div class="row-rf col-md-22">
        <div class="col-5">
          <i aria-hidden="true" class="icon icon-find-sale"></i>
          <h5 class="offer-title">تخفیف های ویژه</h5>
          <p>ارایه تخفیف‌های باورنکردنی و دوره‌ای در روز‌های خاص</p>
        </div>
        <div class="col-5">
          <i aria-hidden="true" class="icon icon-credit-card3"></i>
          <h5 class="offer-title">پرداخت آنلاین</h5>
          <p>خرید نت برگ با پرداخت آنلاین در هر ساعتی از شبانه روز</p>
        </div>
        <div class="col-5">
          <i aria-hidden="true" class="icon icon-medal"></i>
          <h5 class="offer-title">تضمین کیفیت خدمات</h5>
          <p>بررسی کیفیت خدمات و کالاها توسط کارشناسان مربوطه</p>
        </div>
        <div class="col-5">
          <i aria-hidden="true" class="icon icon-planet-earth"></i>
          <h5 class="offer-title">خدمات تجارت امن</h5>
          <p>حفظ حریم خصوصی کاربران در بستر تجارت الکترونیک ایمن</p>
        </div>
        <div class="col-5">
          <i aria-hidden="true" class="icon icon-support"></i>
          <h5 class="offer-title">پشتیبانی کامل 24 ساعته</h5>
          <p>در تمامی مراحل سفارش پشتیبانی نت‌برگ کنار شماست</p>
        </div>
      </div>
      <div class="col-md-1 hidden-sm hidden-xs"></div>
    </div>
  </div>
</div>
<div class="row-footer-menu">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1 hidden-sm hidden-xs"></div>
      <div class="col-md-22">
        <div class="row">

          <ul class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <li>نت&zwnj;برگ</li>
            <li>
              <a href="page/about/index.html">درباره نت&zwnj;برگ</a>
            </li>
            <li>
              <a href="page/term-and-conditions/index.html">قوانین و مقررات</a>
            </li>
            <li>
              <a href="page/privacy-policy/index.html">حریم خصوصی</a>
            </li>
            <li>
              <a href="page/press/index.html">نت&zwnj;برگ در اخبار</a>
            </li>
          </ul>
          <ul class="col-lg-4 col-md-6 col-sm-6 col-xs-12 nth-2">
            <li>ارتباط با ما</li>
            <li>
              <a href="contactus/index.html">تماس با ما</a>
            </li>
            <li>
              <a href="landing/ImbcoWorkable/index.html">همکاری با ما</a>
            </li>
            <li>
              <a href="page/netbarg-agents/index.html">دریافت نمایندگی</a>
            </li>
            <li>
              <a href="page/netbarg-for-your-biz/index.html">نت&zwnj;برگ برای کسب و کار شما</a>
            </li>
          </ul>
          <ul class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <li>بیشتر بدانید</li>
            <li>
              <a href="corp/index.html">نت&zwnj;برگ سازمانی</a>
            </li>
            <li>
              <a href="page/buy-netbarg/index.html">راهنمای خرید</a>
            </li>
            <li>
              <a href="page/online-payment/index.html">راهنمای پرداخت</a>
            </li>
            <li>
              <a href="page/learn/index.html">نت برگ چگونه کار می‌کند</a>
            </li>
            <li>
              <a href="page/faq/index.html">سوالات متداول</a>
            </li>
          </ul>
          <ul class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <li>سایر خدمات</li>
            <li>
              <a href="trends/index.html">نت&zwnj;برگ های در جریان</a>
            </li>
            <li>
              <a href="areas/index.html">نت&zwnj;برگ های مناطق</a>
            </li>
            <li>
              <a href="merchants/index.html">نت&zwnj;برگ های کسب و کار</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-1 hidden-sm hidden-xs"></div>
    </div>
  </div>
</div>
<div class="row-footer-copy-right">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1 hidden-sm hidden-xs"></div>
      <div class="col-md-22">
        <div class="row">
          <div class="col-lg-24 col-md-24 rfcr-p2 col-sm-24 col-xs-24">
            <div class="row">
              <div class="right-part col-lg-12 col-md-12 col-sm-24">
                <div class="rfcr-contact col-lg-4 col-md-4 col-sm-8">
                  <div class="phone-num">
                    <span> پشتیبانی : </span>
                    <span class="tx-direct-left">
                      <span class="number-s"> ۴۱۰۹۶۱۰۰</span><span class="number-s">- ۰۲۱</span>
                    </span>
                  </div>
                  <div class="phone-num">
                    <span> شرکت : </span>
                    <span class="tx-direct-left">
                      <span class="number-s"> ۴۲۰۹۱۰۰۰</span><span class="number-s">- ۰۲۱</span>
                    </span>
                  </div>
                </div>
                <div class="rfcr-soc col-lg-8 col-md-8 col-sm-16">
                  <a href="https://telegram.me/joinchat/Bb5JSzvzBUylEDxkuH0Vbg"
                     target="_blank">
                    <i aria-hidden="true"
                       class="icon icon-telegram-logo">
                    </i>
                  </a>
                  <a href="https://www.youtube.com/user/NetBarg" target="_blank">
                    <i aria-hidden="true" class="icon icon-youtube-logo">
                    </i>
                  </a>
                  <a href="https://www.pinterest.com/netbarg/" target="_blank">
                    <i aria-hidden="true"
                       class="icon icon-pinterest-logo">
                    </i>
                  </a>
                  <a href="http://instagram.com/mynetbarg" target="_blank">
                    <i aria-hidden="true"
                       class="icon icon-instagram-logo">
                    </i>
                  </a>
                  <a href="http://www.linkedin.com/company/NetBarg" target="_blank">
                    <i aria-hidden="true" class="icon icon-linkedin-letters">
                    </i>
                  </a>
                  <a href="https://plus.google.com/+NetBargCo/posts" target="_blank">
                    <i aria-hidden="true" class="icon icon-google-plus">
                    </i>
                  </a>
                  <a href="https://twitter.com/NetBarg" target="_blank">
                    <i aria-hidden="true"
                       class="icon icon-twitter">
                    </i>
                  </a>
                  <a href="https://www.facebook.com/NetBarg" target="_blank">
                    <i aria-hidden="true"
                       class="icon icon-facebook-logo">
                    </i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row rfcr-p1 dis-no dis-block-479 after-copy">
          <span>کلیه حقوق این وب سایت متعلق به شرکت کسب و کار نوین ایرانیان است.</span>
        </div>
      </div>
      <div class="col-md-1 hidden-sm hidden-xs"></div>
    </div>
  </div>
</div>
<div class="row-footer-description dis-none-479">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1 hidden-sm hidden-xs"></div>
      <div class="col-md-22">
        <div class="rfcr-p1">
          <span>کلیه حقوق این وب سایت متعلق به شرکت کسب و کار نوین ایرانیان است.</span>
        </div>
        <p class="tx-just rfdtxt">
          <span>نت‌برگ اولین و بزرگترین سایت تخفیف گروهی در ایران است که به صورت روزانه پیشنهاداتی متنوع و باورنکردنی را با ۴۰ تا ۹۹ درصد تخفیف از بهترین مکان‌های شهر شامل رستوران‌ها، مراکز ورزشی، تفریحی، رفاهی، فرهنگی، هنری، بهداشتی، آرایشی و غیره را به مشتریان خود ارائه می‌دهد. «تخفیف های هیجان‌انگیز»، «خرید ارزان‌تر و بدون واسطه»، «صرفه جویی در زمان و هزینه»، «تضمین کیفیت خدمات» و «پشتیبانی کامل در تمام مراحل» برگ برنده نت‌برگ برای کاربران خود محسوب می‌شوند. نت‌برگ با بکارگیری شیوه های نوین تبلیغاتی و تمرکز روزانه روی کالا ها و سرویس های خدماتی و رفاهی، فرآیند انتخاب را برای اعضای خود آسان کرده و همچنین با استفاده از قدرت خرید گروهی پیشنهادات مورد نظر را به قیمتی عرضه می‌کند که به سختی می‌توان از خرید آن صرف نظر کرد. ایجاد بستر مناسب تحت وب از طریق وب‌سایت نت‌برگ و همچنین ارائه خدمات روی انواع گوشی‌ها و تبلت‌ها با استفاده از اپلیکیشن موبایل نت‌برگ این امکان را به خانواده میلیونی نت‌برگ می‌دهد تا در اسرع وقت و به ساده‌ترین شکل ممکن بتوانند به کلیه پیشنهادهای نت‌برگ دسترسی داشته و از امکانات ارائه‌شده آن بهره‌مند شوند. پیشنهادات نت‌برگ به طور کلی به دو دسته آنی و غیر آنی تقسیم می‌گردند که «نت‌برگ‌های آنی» بلافاصله پس از خرید تا لحظه پایان زمان استفاده آن‌ها، دارای اعتبار بوده و قابل استفاده می‌باشند. همچنین «نت‌برگ‌های غیر آنی» نیز پیشنهاداتی هستند که پس از خرید آن‌ها، کاربران می‌بایست به منظور استفاده از نت‌برگ‌های خود، تا اتمام مهلت خرید آن پیشنهاد بر روی سایت نت‌برگ، صبر نمایند. برای استفاده از نت‌برگ تنها کافی‌ست پیشنهاد مورد نظر خود را خریداری نمایید و با ارائه کد های اختصاصی خود به فروشنده که از طریق ایمیل، حساب کاربری‌ و یا پیامک در دسترس شما قرار می‌گیرند، از پیشنهاد و قیمت باورنکردنی نت ‌برگ لذت برده و لحظات خوش و زیبایی را تجربه کنید. لازم به ذکر است نت‌برگ هم‌اکنون در اکثر شهرهای بزرگ ایران مانند تهران، کرج، مشهد، اصفهان، شیراز، ارومیه و غیره مشغول به فعالیت و ارائه خدمات روزانه می‌باشد.</span>
          <span class="partners">
            <a href="index.html" target="_blank" title="netbarg">
              <img src="~/assets/theme/img/okapia.png" alt="نت برگ" width="200" height="100">
            </a>
            @*<a href="http://chilivery.com/" target="_blank" title="chilivery">
              <img src="~/assets/theme/img/chilivery-logo.png" alt="چیلیوری">
            </a>
            <a href="http://tik8.com/" target="_blank" title="tik8">
              <img src="~/assets/theme/img/tik8-logo.png" alt="تیکیت">
            </a>
            <a href="http://saremiz.ir/" target="_blank" title="saremiz">
              <img src="~/assets/theme/img/saremiz-logo.jpg" alt="سرمیز">
            </a>
            <a href="http://drdr.ir/" target="_blank" title="drdr">
              <img src="~/assets/theme/img/drdr-logo.png" alt="دکتر دکتر">
            </a>*@
          </span>
        </p>
      </div>
      <div class="col-md-1 hidden-sm hidden-xs"></div>
    </div>
  </div>
</div>
</footer>


<script src="~/assets/theme/js/jquery-1.12.0.min.js"></script>
<script src="~/assets/theme/js/bootstrap.min.js"></script>
<script src="~/assets/theme/js/jquery.touchSwipe.min.js"></script>
<script src="~/assets/theme/js/js-cookie.js"></script>
<script src="~/assets/theme/js/owl.carousel.min.js"></script>
<script src="~/assets/theme/js/wow.min.js"></script>
<script src="~/assets/theme/js/sticky.js"></script>
<script src="~/assets/theme/js/bowser.js"></script>
<script src="~/assets/theme/js/jquery.flip.min.js"></script>
<script src="~/assets/theme/js/jquery-ui.min.js"></script>
<script src="~/assets/theme/js/jquery.ui.slider-rtl.min.js"></script>
<script src="~/assets/theme/js/select2.full.min.js"></script>
<script src="~/assets/theme/js/jquery.unveil.js"></script>
<script src="~/assets/theme/js/jquery.dotdotdot.min.js"></script>
<script src="~/assets/theme/js/i18n/fa.js"></script>
<script src="~/assets/theme/js/phone-verification.js?v=1.0.4"></script>
<script src="~/assets/theme/js/app.js?v=1.5.9"></script>
<script src="~/assets/theme/js/validation.js?v=1.0.6"></script>
<script src="~/assets/theme/js/madjax.js?v=1.1.5"></script>
<script src="~/assets/theme/js/ajax-result-function.js?v=1.5.6"></script>
<script src="~/assets/theme/js/client-function.js"></script>
<script src="~/assets/theme/js/AutoComplete/jquery.easy-autocomplete.js?v=1.0.5"></script>
<script src="~/assets/theme/js/elastic.js"></script>
<script src="~/assets/theme/js/swiper.min.js"></script>

@*<script src="~/assets/theme/js/site.min.js"></script>*@

<script>
  jQuery(document).ready(function() {
    $.get('@Url.Action("GetModals", "Home")',
      {},
      function(HTMLData) {
        if (HTMLData !== "") {
          $('body').append(HTMLData);
          $('.modalNotify').modal('show');
        }
      });
  });
</script>
<script>
  var swiper = new Swiper('.swiper-container', {
    slidesPerView: 4,
    spaceBetween: 30,
    slidesPerGroup: 4,
    loop: true,
    loopFillGroupWithBlank: false,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev'
    }
  });
</script>
</body>
</html>