@using Microsoft.AspNetCore.Http.Extensions
@using Okapia.Domain.SeachModels
@model IEnumerable<Okapia.Domain.ViewModels.Box.BoxViewModel>
@{
  var searchModel = ViewData["searchModel"] as BoxSearchModel;
}

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-border panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">لیست باکس ها</h2>
      </div>
      <div class="panel-body">
        <table id="datatable" class="table table-striped table-bordered">
          <thead>
          <tr>
          <th>
            ردیف
          </th>
          <th>
            @Html.DisplayNameFor(model => model.BoxBannerPicture)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.BoxTitle)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.BoxLinkText)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.BoxProvince)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.BoxColor)
          </th>
          <th>
            عملیات
          </th>

          </thead>
          <tbody>
          @foreach (var item in Model.Select((value, index) => new {index, value}))
          {
            <tr>
              <td>
                @{
                  var index = item.index;
                  index += 1;
                }
                @index
              </td>
              <td>
                @if (!string.IsNullOrEmpty(item.value.BoxBannerPicture))
                {
                  <img src="~/BoxPhotos/Thumbs/@item.value.BoxBannerPicture"/>
                }
                else
                {
                  <img src="~/defaultimage.png" with="100" height="100"/>
                }
              </td>
              <td>
                @Html.DisplayFor(modelItem => item.value.BoxTitle)
              </td>
              <td>
                @Html.DisplayFor(modelItem => item.value.BoxLinkText)
              </td>
              <td>
                @Html.DisplayFor(modelItem => item.value.BoxProvince)
              </td>
              <td>
                @Html.DisplayFor(modelItem => item.value.BoxColor)
                <a style="padding: 5px; background-color: @item.value.BoxColor"></a>
              </td>
              <td>
                <a class="btn btn-sm btn-info" asp-area="Administrator" asp-controller="Box" asp-action="Edit" asp-route-id="@item.value.BoxId" asp-route-redirectUrl="@Context.Request.GetDisplayUrl()">ویرایش</a>
                @if (item.value.BoxIsEnabled)
                {
                  <a class="btn btn-sm btn-danger" asp-area="Administrator" asp-controller="Box" asp-action="Deactive" asp-route-id="@item.value.BoxId">غیر فعال کردن</a>
                }
                else
                {
                  <a class="btn btn-sm btn-success" asp-area="Administrator" asp-controller="Box" asp-action="Activate" asp-route-id="@item.value.BoxId">فعال سازی</a>
                }
              </td>
            </tr>
          }
          </tbody>
        </table>
        <div class="row">
          <div class="col-md-12">
            تعداد کل رکوردها: @searchModel.RecordCount
          </div>
        </div>

      </div>
      <nav>
        <ul class="pagination">
          @for (var i = 0; i < searchModel.PageCount; i++)
          {
            var routingSearchModel = new BoxSearchModel
            {
              BoxTitle = searchModel.BoxTitle,
              BoxIsEnabled = searchModel.BoxIsEnabled,
              PageSize = 20,
              PageIndex = i
            };
            if (searchModel.PageIndex == i)
            {
              <li class="active">
                @Html.ActionLink((i + 1).ToString(), "Index", "Box", routingSearchModel)
              </li>
            }
            else
            {
              <li>
                @Html.ActionLink((i + 1).ToString(), "Index", "Box", routingSearchModel)
              </li>
            }
          }
        </ul>
      </nav>
    </div>
  </div>
</div>