@model Okapia.Domain.Commands.Setting.SuggestionDto

<div class="row">
  <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
  <div class="col-lg-22 col-md-22">
    <div class="row under-slider-banner">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <a target="_blank" href="@Model.SpecialSuggestionPictureLink1" class="figure m-b">
          <img src="~/SpecialPictures/@Model.SpecialSuggestionPicture1" alt="@Model.SpecialSuggestionPictureAlt1" />
        </a>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8">
        <a target="_blank" href="@Model.SpecialSuggestionPictureLink2" class="figure m-b">
          <img src="~/SpecialPictures/@Model.SpecialSuggestionPicture2" alt="@Model.SpecialSuggestionPictureAlt2" />
        </a>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8">
        <a target="_blank" href="@Model.SpecialSuggestionPictureLink3" class="figure m-b">
          <img src="~/SpecialPictures/@Model.SpecialSuggestionPicture3" alt="@Model.SpecialSuggestionPictureAlt3" />
        </a>
      </div>
    </div>
  </div>
  <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
</div>
