@model Okapia.Domain.Commands.Setting.SettingDto

<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
  <div class="footer-content">
    <a href="#">
      <img src="~/assets/images/logo.png" alt="">
    </a>
    <p>
      @Model.FooterAbout
    </p>
    <div class="footer-social">
      <a href="@Model.Facebook" target="_blank">
        <i class="fab fa-facebook"></i>
      </a>

      <a href="@Model.Instagram" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>

      <a href="@Model.Telegram" target="_blank">
        <i class="fab fa-telegram"></i>
      </a>

      <a href="@Model.Twitter" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>

    </div>
  </div>
</div>