@model Okapia.Domain.ViewModels.Page.PageViewDetailsViewModel
@{
  ViewData["Title"] = Model.PageTitle;
  ViewData["MetaDescription"] = Model.PageMetaDescription;
  ViewData["MetaTags"] = Model.PageMetaTag;
  ViewData["CanonicalAddress"] = Model.PageCanonicalAddress;
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="custom-banner dark-overlay" style="background: url('assets/images/hero.jpg') no-repeat fixed;"></section>
<!--/Custom Banner-->
<!--Blog Details Area-->
<section class="blog-details section-padding gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
        <div class="single-blog-details">
          <img src="/PagePhotos/@Model.PagePicture" alt="@Model.PagePictureAlt" title="@Model.PagePictureTitle" class="wow fadeInUp" data-wow-delay="0.3s">
          <h2 class="wow fadeInUp" data-wow-delay="0.4s">@Model.PageTitle</h2>
          <div class="post-meta wow fadeInUp" data-wow-delay="0.4s">
            <span>
              <a asp-controller="PageView" asp-action="Index" asp-route-id="@Model.PageCategoryId">@Model.PageCategory</a>
            </span>
            <span>@Model.PagePublishDate</span>
          </div>
          <p class="wow fadeInUp" data-wow-delay="0.5s">
            @Model.PageSmallDescription
          </p>

          <p class="wow fadeInUp" data-wow-delay="0.7s">
            @Html.Raw(Model.PageDescription)
          </p>

        </div>

        <div class="blog-all-comments">
          @foreach (var comment in Model.Comments)
          {
            <div class="blog-comments wow fadeInUp" data-wow-delay="0.3s">
              <div class="author-thumb">
                <img src="/personImage.jpg" alt=""/>
              </div>
              <div class="author-comments">
                <div class="author-details">
                  <h4>@comment.CommentorFullname</h4>

                </div>
                <div class="author-designation">
                  @comment.CommentCreationDate
                </div>
                <h3>
                  @comment.CommentTitle
                </h3>
                <p>
                  @comment.CommentText
                </p>
              </div>
            </div>
          }
        </div>

        <div class="blog-comment-form wow fadeInUp" data-wow-delay="0.3s">
          <h3>نظر خود را بنویسید</h3>
          <form action="#">
            <div class="row">
              <div class="col-md-6">
                <input type="text" placeholder="نام*" required/>
              </div>
              <div class="col-md-6">
                <input type="email" placeholder="ایمیل*" required/>
              </div>
              <div class="col-md-12">
                <textarea rows="6" placeholder="پیام"></textarea>
              </div>
              <div class="col-md-12">
                <button class="bttn-mid btn-fill" type="submit">ارسال نظر</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
        
        @await Component.InvokeAsync("LatestPagesBlogSide")
        @await Component.InvokeAsync("PageCategoryBlogSide")

        <div class="single-sidebar wow fadeInRight" data-wow-delay="0.6s">
          <h3>عضویت در خبرنامه</h3>
          <div class="newslatter">
            <form action="#">
              <input type="email" placeholder="ایمیل" required>
              <button class="bttn-mid btn-fill">عضویت</button>
            </form>
          </div>
        </div>
        <div class="single-sidebar wow fadeInRight" data-wow-delay="0.7s">
          <h3>تگ ها</h3>
          <div class="tags">
            @foreach (var tag in Model.MetaTags)
            {
              <a title="@tag">@tag</a>
            }
          </div>
        </div>
      </div>

    </div>
  </div>
</section>