@inject IAuthHelper AuthHelper;
@using Okapia.Application.Contracts
@model PageDetailsIndexViewModel
@{
  ViewData["Title"] = Model.PageViewDetailsViewModel.PageTitle;
  ViewData["MetaDescription"] = Model.PageViewDetailsViewModel.PageMetaDescription;
  ViewData["MetaTags"] = Model.PageViewDetailsViewModel.PageMetaTag;
  ViewData["CanonicalAddress"] = Model.PageViewDetailsViewModel.PageCanonicalAddress;
  Layout = "~/Views/Shared/_Layout.cshtml";
  var province = ViewData["province"].ToString();
}

<section class="blog-details section-padding gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
        <div class="single-blog-details">
          <img src="/PagePhotos/@Model.PageViewDetailsViewModel.PagePicture" alt="@Model.PageViewDetailsViewModel.PagePictureAlt" title="@Model.PageViewDetailsViewModel.PagePictureTitle" class="wow fadeInUp" data-wow-delay="0.3s">
          <h2 class="wow fadeInUp" data-wow-delay="0.4s">@Model.PageViewDetailsViewModel.PageTitle</h2>
          <div class="post-meta wow fadeInUp" data-wow-delay="0.4s">
            <span>
              <a asp-controller="PageView" asp-action="Index" asp-route-id="@Model.PageViewDetailsViewModel.PageSlug">@Model.PageViewDetailsViewModel.PageCategory</a>
            </span>
            <span>@Model.PageViewDetailsViewModel.PagePublishDate</span>
          </div>
          <p class="wow fadeInUp" data-wow-delay="0.5s">
            @Model.PageViewDetailsViewModel.PageSmallDescription
          </p>

          <p class="wow fadeInUp" data-wow-delay="0.7s">
            @Html.Raw(Model.PageViewDetailsViewModel.PageDescription)
          </p>
        </div>
      </div>
      
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        @foreach (var comment in Model.PageViewDetailsViewModel.Comments)
        {
          <div class="blog-comments wow fadeInUp" data-wow-delay="0.3s">
            <div class="author-thumb">
              <img src="/personImage.jpg" alt=""/>
            </div>
            <div class="author-comments">
              <div class="author-details">
                <h4>@comment.CommentorFullname</h4>

              </div>
              <div class="author-designation">
                @comment.CommentCreationDate
              </div>
              <h3>
                @comment.CommentTitle
              </h3>
              <p>
                @comment.CommentText
              </p>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</section>