@model Okapia.Domain.ViewModels.PageCategory.PageCategoryBlogViewModel

@{
  ViewData["Title"] = "مقالات گروه" + " " + Model.PageCategoryName;
  ViewData["MetaDescription"] = Model.PageCategoryMetaDescription;
  ViewData["MetaTags"] = Model.MetaTags;
  ViewData["CanonicalAddress"] = Model.PageCategoryCanonicalAddress;
  Layout = "~/Views/Shared/_Layout.cshtml";
  var province = ViewData["province"].ToString();
}

<div class="page-static">
  <div class="wrapper-2">
    <div class="container-fluid">
      <div class="row h-position">

        @await Component.InvokeAsync("FloatingCategories", new { pn = province })

        <div class="col-lg-22 col-md-22 col-sm-24 col-xs-24 padd-0-xs clearfix page-news">
          <div class="art-border ct">
            <div class="cu-top">
              <h1 class="static-header">@Model.PageCategoryName</h1>
            </div>

            @*<div class="row tw-col2">
      <div data-wow-delay=".9s" data-wow-duration=".8s" class="video_box1 col-lg-8 col-md-12 col-sm-12 col-xs-24 animated8 fadeIn">
        <div id="14998585618913189" class="video_pic1">
          <script type="text/JavaScript" src="https://www.aparat.com/embed/lJa3y?data[rnddiv]=14998585618913189&amp;data[responsive]=yes"></script>
        </div>
        <h4 class="fig-title"></h4>
      </div>
    </div>*@

            <div class="row newspaper">
              @foreach (var item in Model.Pages)
              {
                <div data-wow-delay=".4s" data-wow-duration=".8s" class="col-lg-8 col-md-12 col-sm-12 col-xs-24 wow fadeIn fa">
                  <div class="np-box">
                    <a asp-controller="PageView" asp-action="Details" asp-route-id="@item.PageSlug">
                      <img src="~/PagePhotos/Thumbs/@item.PagePicture" class="img-radius" alt="@item.PagePictureAlt" title="@item.PagePictureTitle"/>
                    </a>
                    <h3 class="np-title">
                      <a asp-controller="PageView" asp-action="Details" asp-route-id="@item.PageSlug">@item.PageTitle</a>
                    </h3>
                    <p class="np-p fa-p">@item.PageSmallDescription</p>
                  </div>
                </div>
              }

            </div>
          </div>
        </div>

        @await Component.InvokeAsync("CompanyNumbers")

      </div>
    </div>
  </div>
</div>