@using Okapia.Domain.SeachModels
@model List<Okapia.Domain.ViewModels.Category.CategoryMenuViewModel>

@{
  var province = ViewData["province"].ToString();
}

<div class="burger-menu-right hidden-lg hidden-md clearfix out ">
  <div class="fix"></div>
  <div class="wrapper">
    <div class="loginout">
      <a asp-controller="Account" asp-action="Login" class="login">
        <span>
          <i class="icon icon-Login"></i>
          ورود
        </span>
      </a>
      <a asp-controller="Account" asp-action="Register" class="signup">
        <span>
          <i class="icon icon-signup"></i>
          ثبت نام
        </span>
      </a>
    </div>
    <nav>
      <ul class="side-cat">
      @foreach (var category in Model)
      {
        <li class="li-restaurant">
          <a href="@Url.Action("مراکز-خدماتی-و-فروشگاهی", "JobView", new JobViewSearchModel {CategoryId = category.CategoryId, Province = province})" data-toggle="collapse" data-target="#sub-menu-8">
            <i>
              <i class="icon @category.Icon"></i>
            </i>
            <span>@category.CategoryName</span>
            @if (category.IsNew)
            {
              <div class="new-item">جدید</div>
            }
          </a>
          <ul class="clearfix step2">
            @foreach (var child in category.CategoryChilds)
            {
              <li mj-success="successMegaMenu" class="item2">
                <a href="@Url.Action("مراکز-خدماتی-و-فروشگاهی", "JobView", new JobViewSearchModel() {CategoryId = category.CategoryId, Province = province})">
                  @child.CategoryName
                </a>
              </li>
            }
          </ul>
        </li>
      }
      </ul>
    </nav>
    <div class="spacer"></div>
    <ul class="side-extra-items">
      <li>
        <a href="tel:+982141096000">
          <i>
            <i class="icon icon-home-phone"></i>
          </i><span>۰۲۱-۴۱۰۹۶۰۰۰</span>
        </a>
      </li>
      <li>
        <a asp-controller="Home" asp-action="Agency">
          <span>درخواست نمایندگی</span>
        </a>
      </li>
      <li>
        <a asp-controller="Home" asp-action="تماس-با-اُکاپیا">
          <span>تماس با ما</span>
        </a>
      </li>
      <li>
        <a asp-controller="Home" asp-action="درباره-اُکاپیا">
          <span>درباره ما</span>
        </a>
      </li>
    </ul>
  </div>
</div>
